-basepath ./Input/
-samplePU WithPU.root
-sampleNoPU NoPU.root
-algo1 ak4pfchs
-algo2 ak4pfchs
-iftest false
-maxEvts 10000000
-ApplyJEC false
-outputPath ./Correction/
-npvRhoNpuBinWidth 10
-NBinsNpvRhoNpu 6
-MCPUReWeighting PUReweighting/MyMCPileupHistogram.root
-DataPUReWeighting PUReweighting/MyDataPileupHistogram.root
-useweight true
-nrefmax 3
-doNotSave false

