Input Object   Directory   Reference   |Eta| Min   |Eta| Max   L1 PT Min   Reference Iso  Quality  DR Cut   Type / Region IsolationBB IsolationEC Histogram   Binning for PT       Binning for eta         Binning for iso         Binning for dxy        Thresholds
# Gen objects                                                                          
Gen   GenElectron Electron -1 2.4   -1 -1 None  -1 -1 -1 -1 GenElectron 100   0  150   30 -2.5  2.5   200   0  5  100 0  10 Gen
Gen   GenMuon  Muon  -1 2.4   -1 -1 None  -1 -1 -1 -1 GenMuon  100   0  150   30 -2.5  2.5   200   0  5  100   0  10 Gen
Gen   GenPhoton   Photon   -1 2.4   -1 -1 None  -1 -1 -1 -1 GenPhoton   100   0  150   30 -2.5  2.5   200   0  5  100 0  10 Gen
Gen   GenJet   GenJet   -1 2.4   -1 -1 None  -1 -1 -1 -1 GenJet   200   0  600   50 -3 3  200   0  5  100   0  10 Gen
Gen   GenTau   Tau   -1 2.4   -1 -1 None  -1 -1 -1 -1 GenTau   100   0  150   30 -2.5  2.5   200   0  5  100   0  10 Gen
Gen   GenVisTau   VisTau   -1 2.4   -1 -1 None  -1 -1 -1 -1 GenVisTau   100   0  150   30 -2.5  2.5   200   0  5  100 0  10 Gen
# TkMuon, no quality selection vs with quality selection in endcap                                                                         
TkMuon   TkMuon   Muon  -1 2.8   -1 -1 None  0.1   -1 -1 -1 TkMuon   100   0  150   30 -3 3  200   0  5  110   0  110 Muon
TkMuon   TkMuonIso   Muon  -1 2.8   -1 0.15  None  0.1   -1 -1 -1 TkMuonIso   100   0  150   30 -3 3  200   0  5  110 0  110   Muon
TkMuon   TkMuonIsoE  Muon  -1 2.8   -1 0.15  None  0.1   3  -1 -1 TkMuonIsoE  100   0  150   30 -3 3  200   0  5  110 0  110   Muon
TkMuon   TkMuonIsoB  Muon  -1 2.8   -1 0.15  None  0.1   1  -1 -1 TkMuonIsoB  100   0  150   30 -3 3  200   0  5  110 0  110   Muon
TkMuon   TkMuonIsoO  Muon  -1 2.8   -1 0.15  None  0.1   2  -1 -1 TkMuonIsoO  100   0  150   30 -3 3  200   0  5  110 0  110   Muon
TkMuon   TkMuonIsoExtended Muon  -1 2.8   -1 0.15  None  0.1   4  -1 -1 TkMuonIsoExtended 100   0  150   30 -3 3  200 0  5  110   0  110   Muon
TkMuon   TkMuonIsoEEta  Muon  1.2   2.4   -1 0.15  None  0.1   -1 -1 -1 TkMuonIsoEEta  100   0  150   30 -3 3  200   0   5  110   0  110   Muon
TkMuon   TkMuonIsoBEta  Muon  -1 0.9   -1 0.15  None  0.1   -1 -1 -1 TkMuonIsoBEta  100   0  150   30 -3 3  200   0  5   110   0  110   Muon
TkMuon   TkMuonIsoOEta  Muon  0.9   1.2   -1 0.15  None  0.1   -1 -1 -1 TkMuonIsoOEta  100   0  150   30 -3 3  200   0   5  110   0  110   Muon
TkMuon   TkMuonIsoExtendedEta Muon  2.4   2.8   -1 0.15  None  0.1   -1 -1 -1 TkMuonIsoExtendedEta 100   0  150   30 -3  3  200   0  5  110   0  110   Muon
TkMuon   TkMuonLDR   Muon  -1 2.8   -1 -1 None  1  -1 -1 -1 TkMuonLDR   100   0  150   30 -3 3  200   0  5  110   0  110 Muon
TkMuon   TkMuonQual  Muon  -1 2.8   -1 -1 EndcapOne   0.1   -1 -1 -1 TkMuonQual  100   0  150   30 -3 3  200   0  5  110 0  110   Muon
TkMuon   TkMuonQualIso  Muon  -1 2.8   -1 0.15  EndcapOne   0.1   -1 -1 -1 TkMuonQualIso  100   0  150   30 -3 3  200 0  5  110   0  110   Muon
TkMuon   TkMuonQualIsoE Muon  -1 2.8   -1 0.15  EndcapOne   0.1   3  -1 -1 TkMuonQualIsoE 100   0  150   30 -3 3  200 0  5  110   0  110   Muon
TkMuon   TkMuonQualIsoB Muon  -1 2.8   -1 0.15  EndcapOne   0.1   1  -1 -1 TkMuonQualIsoB 100   0  150   30 -3 3  200 0  5  110   0  110   Muon
TkMuon   TkMuonQualIsoO Muon  -1 2.8   -1 0.15  EndcapOne   0.1   2  -1 -1 TkMuonQualIsoO 100   0  150   30 -3 3  200 0  5  110   0  110   Muon
TkMuon   TkMuonQualIsoExtended   Muon  -1 2.8   -1 0.15  EndcapOne   0.1   4  -1 -1 TkMuonQualIsoExtended   100   0  150 30 -3 3  200   0  5  110   0  110   Muon
TkMuon   TkMuonQualIsoEEta Muon  1.2   2.4   -1 0.15  EndcapOne   0.1   -1 -1 -1 TkMuonQualIsoEEta 100   0  150   30 -3  3  200   0  5  110   0  110   Muon
TkMuon   TkMuonQualIsoBEta Muon  -1 0.9   -1 0.15  EndcapOne   0.1   -1 -1 -1 TkMuonQualIsoBEta 100   0  150   30 -3 3 200   0  5  110   0  110   Muon
TkMuon   TkMuonQualIsoOEta Muon  0.9   1.2   -1 0.15  EndcapOne   0.1   -1 -1 -1 TkMuonQualIsoOEta 100   0  150   30 -3  3  200   0  5  110   0  110   Muon
TkMuon   TkMuonQualIsoExtendedEta   Muon  2.4   2.8   -1 0.15  EndcapOne   0.1   -1 -1 -1 TkMuonQualIsoExtendedEta   100 0  150   30 -3 3  200   0  5  110   0  110   Muon
TkMuon   TkMuonQualLDR  Muon  -1 2.8   -1 -1 EndcapOne   1  -1 -1 -1 TkMuonQualLDR  100   0  150   30 -3 3  200   0  5   110   0  110   Muon
# Standalone muon, no quality selection vs with quality selection in endcap/overlap                                                                        
StandaloneMuon StandaloneMuon Muon  -1 2.4   -1 -1 None  0.3   -1 -1 -1 StandaloneMuon 100   0  150   30 -3 3  200   0   5  110   0  110   Muon
StandaloneMuon StandaloneMuonIso Muon  -1 2.4   -1 0.15  None  0.3   -1 -1 -1 StandaloneMuonIso 100   0  150   30 -3 3 200   0  5  110   0  110   Muon
StandaloneMuon StandaloneMuonIsoBarrel Muon  -1 0.83  -1 0.15  None  0.3   -1 -1 -1 StandaloneMuonIsoBarrel 100   0  150 30 -3 3  200   0  5  110   0  110   Muon
StandaloneMuon StandaloneMuonIsoEndcap Muon  0.83  2.4   -1 0.15  None  0.3   -1 -1 -1 StandaloneMuonIsoEndcap 100   0   150   30 -3 3  200   0  5  110   0  110   Muon
StandaloneMuon StandaloneMuonIsoE   Muon  -1 2.4   -1 0.15  None  0.3   3  -1 -1 StandaloneMuonIsoE   100   0  150   30  -3 3  200   0  5  110   0  110   Muon
StandaloneMuon StandaloneMuonIsoB   Muon  -1 2.4   -1 0.15  None  0.3   1  -1 -1 StandaloneMuonIsoB   100   0  150   30  -3 3  200   0  5  110   0  110   Muon
StandaloneMuon StandaloneMuonIsoO   Muon  -1 2.4   -1 0.15  None  0.3   2  -1 -1 StandaloneMuonIsoO   100   0  150   30  -3 3  200   0  5  110   0  110   Muon
StandaloneMuon StandaloneMuonIsoEEta   Muon  1.2   2.4   -1 0.15  None  0.3   -1 -1 -1 StandaloneMuonIsoEEta   100   0   150   30 -3 3  200   0  5  110   0  110   Muon
StandaloneMuon StandaloneMuonIsoBEta   Muon  -1 0.9   -1 0.15  None  0.3   -1 -1 -1 StandaloneMuonIsoBEta   100   0  150 30 -3 3  200   0  5  110   0  110   Muon
StandaloneMuon StandaloneMuonIsoOEta   Muon  0.9   1.2   -1 0.15  None  0.3   -1 -1 -1 StandaloneMuonIsoOEta   100   0   150   30 -3 3  200   0  5  110   0  110   Muon
StandaloneMuon StandaloneMuonLDR Muon  -1 2.4   -1 -1 None  1  -1 -1 -1 StandaloneMuonLDR 100   0  150   30 -3 3  200 0  5  110   0  110   Muon
StandaloneMuon StandaloneMuonQual   Muon  -1 2.4   -1 -1 OverlapTwelveEndcapOne  0.3   -1 -1 -1 StandaloneMuonQual   100 0  150   30 -3 3  200   0  5  110   0  110   Muon
StandaloneMuon StandaloneMuonQualIso   Muon  -1 2.4   -1 0.15  OverlapTwelveEndcapOne  0.3   -1 -1 -1 StandaloneMuonQualIso 100   0  150   30 -3 3  200   0  5  110   0  110   Muon
StandaloneMuon StandaloneMuonQualIsoBarrel   Muon  -1 0.83  -1 0.15  OverlapTwelveEndcapOne  0.3   -1 -1 -1 StandaloneMuonQualIsoBarrel 100   0  150   30 -3 3  200   0  5  110   0  110   Muon
StandaloneMuon StandaloneMuonQualIsoEndcap   Muon  0.83  2.4   -1 0.15  OverlapTwelveEndcapOne  0.3   -1 -1 -1 StandaloneMuonQualIsoEndcap 100   0  150   30 -3 3  200   0  5  110   0  110   Muon
StandaloneMuon StandaloneMuonQualIsoE  Muon  -1 2.4   -1 0.15  OverlapTwelveEndcapOne  0.3   3  -1 -1 StandaloneMuonQualIsoE   100   0  150   30 -3 3  200   0  5  110   0  110   Muon
StandaloneMuon StandaloneMuonQualIsoB  Muon  -1 2.4   -1 0.15  OverlapTwelveEndcapOne  0.3   1  -1 -1 StandaloneMuonQualIsoB   100   0  150   30 -3 3  200   0  5  110   0  110   Muon
StandaloneMuon StandaloneMuonQualIsoO  Muon  -1 2.4   -1 0.15  OverlapTwelveEndcapOne  0.3   2  -1 -1 StandaloneMuonQualIsoO   100   0  150   30 -3 3  200   0  5  110   0  110   Muon
StandaloneMuon StandaloneMuonQualIsoEEta  Muon  1.2   2.4   -1 0.15  OverlapTwelveEndcapOne  0.3   -1 -1 -1 StandaloneMuonQualIsoEEta   100   0  150   30 -3 3  200   0  5  110   0  110   Muon
StandaloneMuon StandaloneMuonQualIsoBEta  Muon  -1 0.9   -1 0.15  OverlapTwelveEndcapOne  0.3   -1 -1 -1 StandaloneMuonQualIsoBEta   100   0  150   30 -3 3  200   0  5  110   0  110   Muon
StandaloneMuon StandaloneMuonQualIsoOEta  Muon  0.9   1.2   -1 0.15  OverlapTwelveEndcapOne  0.3   -1 -1 -1 StandaloneMuonQualIsoOEta   100   0  150   30 -3 3  200   0  5  110   0  110   Muon
StandaloneMuon StandaloneMuonQualLDR   Muon  -1 2.4   -1 -1 OverlapTwelveEndcapOne  1  -1 -1 -1 StandaloneMuonQualLDR 100   0  150   30 -3 3  200   0  5  110   0  110   Muon
