Input Object   Directory   Reference   |Eta| Min   |Eta| Max   L1 PT Min   Reference Iso  Quality  DR Cut   Type / Region IsolationBB IsolationEC Histogram   Binning for PT       Binning for eta         Binning for iso         Binning for dxy        Thresholds
# Gen objects                                                                          
Gen   GenElectron Electron -1 2.4   -1 -1 None  -1 -1 -1 -1 GenElectron 100   0  150   30 -2.5  2.5   200   0  5  100 0  10 Gen
Gen   GenMuon  Muon  -1 2.4   -1 -1 None  -1 -1 -1 -1 GenMuon  100   0  150   30 -2.5  2.5   200   0  5  100   0  10 Gen
Gen   GenPhoton   Photon   -1 2.4   -1 -1 None  -1 -1 -1 -1 GenPhoton   100   0  150   30 -2.5  2.5   200   0  5  100 0  10 Gen
Gen   GenJet   GenJet   -1 2.4   -1 -1 None  -1 -1 -1 -1 GenJet   200   0  600   50 -3 3  200   0  5  100   0  10 Gen
Gen   GenTau   Tau   -1 2.4   -1 -1 None  -1 -1 -1 -1 GenTau   100   0  150   30 -2.5  2.5   200   0  5  100   0  10 Gen
Gen   GenVisTau   VisTau   -1 2.4   -1 -1 None  -1 -1 -1 -1 GenVisTau   100   0  150   30 -2.5  2.5   200   0  5  100 0  10 Gen
# CaloTau                                                                           
# PFPhase1Jet                                                                          
# PFPhase1 HT, MHT                                                                           
# Standalone photons: EG + photon ID                                                                           
EG EG Photon   -1 2.4   -1 -1 UseFlag  0.2   -1 -1 -1 EG 100   0  150   30 -3 3  200   0  5  100   0  10 EG
EG EGIso Photon   -1 2.4   -1 0.1   UseFlag  0.2   -1 -1 -1 EGIso 100   0  150   30 -3 3  200   0  5  100   0  10 EG
EG EGWideIso   Photon   -1 2.8   -1 0.1   UseFlag  0.2   -1 -1 -1 EGWideIso   100   0  150   30 -3 3  200   0  5  100 0  10 EG
EG EGLDR Photon   -1 2.4   -1 -1 UseFlag  1  -1 -1 -1 EGLDR 100   0  150   30 -3 3  200   0  5  100   0  10 EG
EG EGExtendedIso  Photon   2.4   2.8   -1 0.1   UseFlag  0.2   -1 -1 -1 EGExtendedIso  100   0  150   30 -3 3  200   0   5  100   0  10 EG
# Standalone electrons: EG + loose track ID                                                                          
EGTrackID   EGTrackID   Electron -1 2.4   -1 -1 UseFlag  0.2   -1 -1 -1 EGTrackID   100   0  150   30 -3 3  200   0  5   100   0  10 EG
EGTrackID   EGTrackIDIso   Electron -1 2.4   -1 0.15  UseFlag  0.2   -1 -1 -1 EGTrackIDIso   100   0  150   30 -3 3  200 0  5  100   0  10 EG
EGTrackID   EGTrackIDWideIso  Electron -1 2.8   -1 0.15  UseFlag  0.2   -1 -1 -1 EGTrackIDWideIso  100   0  150   30 -3  3  200   0  5  100   0  10 EG
EGTrackID   EGTrackIDLDR   Electron -1 2.4   -1 -1 UseFlag  1  -1 -1 -1 EGTrackIDLDR   100   0  150   30 -3 3  200   0   5  100   0  10 EG
EGTrackID   EGTrackIDExtendedIso Electron 2.4   2.8   -1 0.15  UseFlag  0.2   -1 -1 -1 EGTrackIDExtendedIso 100   0  150 30 -3 3  200   0  5  100   0  10 EG
EGTrackID   EGTrackIDZ  ZElectron   -1 2.4   -1 -1 UseFlag  0.2   -1 -1 -1 EGTrackIDZ  100   0  150   30 -3 3  200   0   5  100   0  10 EG
EGTrackID   EGTrackIDZIso  ZElectron   -1 2.4   -1 0.15  UseFlag  0.2   -1 -1 -1 EGTrackIDZIso  100   0  150   30 -3 3 200   0  5  100   0  10 EG
EGTrackID   EGTrackIDZWideIso ZElectron   -1 2.8   -1 0.15  UseFlag  0.2   -1 -1 -1 EGTrackIDZWideIso 100   0  150   30  -3 3  200   0  5  100   0  10 EG
EGTrackID   EGTrackIDZLDR  ZElectron   -1 2.4   -1 -1 UseFlag  1  -1 -1 -1 EGTrackIDZLDR  100   0  150   30 -3 3  200 0  5  100   0  10 EG
EGTrackID   EGTrackIDZExtendedIso   ZElectron   2.4   2.8   -1 0.15  UseFlag  0.2   -1 -1 -1 EGTrackIDZExtendedIso   100 0  150   30 -3 3  200   0  5  100   0  10 EG
# track-matched electrons: TkElectron + loose track ID                                                                          
TkElectronTrackID TkElectronTrackID Electron -1 2.4   -1 -1 UseFlag  0.15  -1 -1 -1 TkElectronTrackID 100   0  150   30  -3 3  200   0  1  100   0  10 EG
TkElectronTrackID TkElectronTrackIDIso Electron -1 2.4   -1 0.15  UseFlag  0.15  -1 -1 -1 TkElectronTrackIDIso 100   0   150   30 -3 3  200   0  1  100   0  10 EG
TkElectronTrackID TkElectronTrackIDWideIso   Electron -1 2.8   -1 0.15  UseFlag  0.15  -1 -1 -1 TkElectronTrackIDWideIso 100   0  150   30 -3 3  200   0  1  100   0  10 EG
TkElectronTrackID TkElectronTrackIDExtendedIso  Electron 2.4   2.8   -1 0.15  UseFlag  0.15  -1 -1 -1 TkElectronTrackIDExtendedIso   100   0  150   30 -3 3  200   0  1  100   0  10 EG
TkElectronTrackID TkElectronTrackIDLDR Electron -1 2.4   -1 -1 UseFlag  1  -1 -1 -1 TkElectronTrackIDLDR 100   0  150 30 -3 3  200   0  1  100   0  10 EG
# Track-matched isolated electrons: TkElectron + (no ID in barrel, 5 in endcap) + Tracker Isolation                                                                         
TkElectron  TkElectron  Electron -1 2.4   -1 -1 BarrelNoneEndcapFive 0.15  -1 -1 -1 TkElectron  100   0  150   30 -3 3 200   0  1  100   0  10 EG
TkElectron  TkElectronIso  Electron -1 2.4   -1 0.15  BarrelNoneEndcapFive 0.15  -1 -1 -1 TkElectronIso  100   0  150 30 -3 3  200   0  1  100   0  10 EG
TkElectron  TkIsoElectron  Electron -1 2.4   -1 0.15  BarrelNoneEndcapFive 0.15  -1 0.12  0.2   TkIsoElectron  100   0   150   30 -3 3  200   0  1  100   0  10 EG
TkElectron  TkIsoElectronWide Electron -1 2.8   -1 0.15  BarrelNoneEndcapFive 0.15  -1 0.12  0.2   TkIsoElectronWide 100 0  150   30 -3 3  200   0  1  100   0  10 EG
TkElectron  TkIsoElectronExtended   Electron 2.4   2.8   -1 0.15  BarrelNoneEndcapFive 0.15  -1 0.12  0.2   TkIsoElectronExtended 100   0  150   30 -3 3  200   0  1  100   0  10 EG
TkElectron  TkElectronLDR  Electron -1 2.4   -1 -1 BarrelNoneEndcapFive 1  -1 -1 -1 TkElectronLDR  100   0  150   30 -3  3  200   0  1  100   0  10 EG
# TkPhoton + Loose track ID + tracker isolation                                                                         
TkPhotonTrackID   TkPhotonTrackID   Photon   -1 2.4   -1 -1 UseFlag  0.15  -1 -1 -1 TkPhotonTrackID   100   0  150   30  -3 3  200   0  0.6   100   0  10 EG
TkPhotonTrackID   TkPhotonTrackIDIso   Photon   -1 2.4   -1 0.15  UseFlag  0.15  -1 -1 -1 TkPhotonTrackIDIso   100   0   150   30 -3 3  200   0  0.6   100   0  10 EG
TkPhotonTrackID   TkPhotonTrackIDIsoWide  Photon   -1 2.8   -1 0.15  UseFlag  0.15  -1 -1 -1 TkPhotonTrackIDIsoWide  100 0  150   30 -3 3  200   0  0.6   100   0  10 EG
TkPhotonTrackID   TkIsoPhotonTrackID   Photon   -1 2.4   -1 0.15  UseFlag  0.15  -1 0.28  0.35  TkIsoPhotonTrackID   100 0  150   30 -3 3  200   0  0.6   100   0  10 EG
TkPhotonTrackID   TkIsoPhotonTrackIDWide  Photon   -1 2.8   -1 0.15  UseFlag  0.15  -1 0.28  0.35  TkIsoPhotonTrackIDWide   100   0  150   30 -3 3  200   0  0.6   100   0  10 EG
TkPhotonTrackID   TkIsoPhotonTrackIDExtended Photon   2.4   2.8   -1 0.15  UseFlag  0.15  -1 0.28  0.35  TkIsoPhotonTrackIDExtended  100   0  150   30 -3 3  200   0  0.6   100   0  10 EG
TkPhotonTrackID   TkPhotonTrackIDLDR   Photon   -1 2.4   -1 -1 UseFlag  1  -1 -1 -1 TkPhotonTrackIDLDR   100   0  150 30 -3 3  200   0  0.6   100   0  10 EG
# TkPhoton + Loose track ID + tracker isolation (PV)                                                                        
TkPhotonPVTrackID TkPhotonPVTrackID Photon   -1 2.4   -1 -1 UseFlag  0.15  -1 -1 -1 TkPhotonPVTrackID 100   0  150   30  -3 3  200   0  0.25  100   0  10 EG
TkPhotonPVTrackID TkPhotonPVTrackIDIso Photon   -1 2.4   -1 0.15  UseFlag  0.15  -1 -1 -1 TkPhotonPVTrackIDIso 100   0   150   30 -3 3  200   0  0.25  100   0  10 EG
TkPhotonPVTrackID TkIsoPhotonPVTrackID Photon   -1 2.4   -1 0.15  UseFlag  0.15  -1 0.097 0.067 TkIsoPhotonPVTrackID 100 0  150   30 -3 3  200   0  0.25  100   0  10 EG
TkPhotonPVTrackID TkPhotonPVTrackIDLDR Photon   -1 2.4   -1 -1 UseFlag  1  -1 -1 -1 TkPhotonPVTrackIDLDR 100   0  150 30 -3 3  200   0  0.25  100   0  10 EG
TkPhotonPVTrackID TkPhotonPVEleTrackID Electron -1 2.4   -1 -1 UseFlag  0.15  -1 -1 -1 TkPhotonPVEleTrackID 100   0  150 30 -3 3  200   0  0.25  100   0  10 EG
TkPhotonPVTrackID TkPhotonPVEleTrackIDIso Electron -1 2.4   -1 0.15  UseFlag  0.15  -1 -1 -1 TkPhotonPVEleTrackIDIso 100 0  150   30 -3 3  200   0  0.25  100   0  10 EG
TkPhotonPVTrackID TkIsoPhotonPVEleTrackID Electron -1 2.4   -1 0.15  UseFlag  0.15  -1 0.097 0.067 TkIsoPhotonPVEleTrackID  100   0  150   30 -3 3  200   0  0.25  100   0  10 EG
TkPhotonPVTrackID TkPhotonPVEleTrackIDLDR Electron -1 2.4   -1 -1 UseFlag  1  -1 -1 -1 TkPhotonPVEleTrackIDLDR 100   0   150   30 -3 3  200   0  0.25  100   0  10 EG
# TkMuon, no quality selection                                                                           
# PuppiMET                                                                          
# NNTau                                                                          
