Input Object   Directory   Reference   |Eta| Min   |Eta| Max   L1 PT Min   Reference Iso  Quality  DR Cut   Type / Region IsolationBB IsolationEC Histogram   Binning for PT       Binning for eta         Binning for iso         Binning for dxy        Thresholds
# Gen objects                                                                          
Gen   GenElectron Electron -1 2.4   -1 -1 None  -1 -1 -1 -1 GenElectron 100   0  150   30 -2.5  2.5   200   0  5  100 0  10 Gen
Gen   GenMuon  Muon  -1 2.4   -1 -1 None  -1 -1 -1 -1 GenMuon  100   0  150   30 -2.5  2.5   200   0  5  100   0  10 Gen
Gen   GenPhoton   Photon   -1 2.4   -1 -1 None  -1 -1 -1 -1 GenPhoton   100   0  150   30 -2.5  2.5   200   0  5  100 0  10 Gen
Gen   GenJet   GenJet   -1 2.4   -1 -1 None  -1 -1 -1 -1 GenJet   200   0  600   50 -3 3  200   0  5  100   0  10 Gen
Gen   GenTau   Tau   -1 2.4   -1 -1 None  -1 -1 -1 -1 GenTau   100   0  150   30 -2.5  2.5   200   0  5  100   0  10 Gen
Gen   GenVisTau   VisTau   -1 2.4   -1 -1 None  -1 -1 -1 -1 GenVisTau   100   0  150   30 -2.5  2.5   200   0  5  100 0  10 Gen
# CaloTau                                                                           
CaloTau  CaloTau  VisTau   -1 2.4   -1 -1 None  0.3   -1 -1 -1 CaloTau  150   0  450   30 -2.5  2.5   200   0  5  100 0  10 Tau
CaloTau  CaloTauIso  VisTau   -1 2.4   -1 0.15  None  0.3   -1 -1 -1 CaloTauIso  150   0  450   30 -2.5  2.5   200   0   5  100   0  10 Tau
CaloTau  CaloTauIsoNarrow  VisTau   -1 2.1   -1 0.15  None  0.3   -1 -1 -1 CaloTauIsoNarrow  150   0  450   30 -2.5  2.5 200   0  5  100   0  10 Tau
CaloTau  CaloTauLDR  VisTau   -1 2.4   -1 -1 None  1  -1 -1 -1 CaloTauLDR  150   0  450   30 -2.5  2.5   200   0  5  100 0  10 Tau
# PFPhase1Jet                                                                          
PFPhase1Jet PFPhase1Jet GenJet   -1 2.4   -1 -1 None  0.3   -1 -1 -1 PFPhase1Jet 200   0  600   50 -3 3  200   0  5  100 0  10 Jet
PFPhase1Jet PFPhase1JetWide   GenJet   -1 5  -1 -1 None  0.3   -1 -1 -1 PFPhase1JetWide   200   0  600   50 -5.2  5.2   200   0  5  100   0  10 Jet
PFPhase1Jet PFPhase1JetABitForward  GenJet   2.4   3.5   -1 -1 None  0.3   -1 -1 -1 PFPhase1JetABitForward  200   0  600 50 -5.2  5.2   200   0  5  100   0  10 Jet
PFPhase1Jet PFPhase1JetForward   GenJet   2.4   5  -1 -1 None  0.3   -1 -1 -1 PFPhase1JetForward   200   0  600   50 -5.2   5.2   200   0  5  100   0  10 Jet
PFPhase1Jet PFPhase1JetLDR GenJet   -1 2.4   -1 -1 None  1.5   -1 -1 -1 PFPhase1JetLDR 200   0  600   50 -3 3  200   0   5  100   0  10 Jet
PFPhase1Jet PFPhase1JetForwardLDR   GenJet   2.4   5  -1 -1 None  1.5   -1 -1 -1 PFPhase1JetForwardLDR   200   0  600 50 -5.2  5.2   200   0  5  100   0  10 Jet
PFPhase1Jet PFPhase1Jet25  GenJet   -1 2.4   25 -1 None  0.3   -1 -1 -1 PFPhase1Jet25  200   0  600   50 -3 3  200   0   5  100   0  10 Jet
PFPhase1Jet PFPhase1JetWide25 GenJet   -1 5  25 -1 None  0.3   -1 -1 -1 PFPhase1JetWide25 200   0  600   50 -5.2  5.2   200   0  5  100   0  10 Jet
PFPhase1Jet PFPhase1JetABitForward25   GenJet   2.4   3.5   25 -1 None  0.3   -1 -1 -1 PFPhase1JetABitForward25   200 0  600   50 -5.2  5.2   200   0  5  100   0  10 Jet
PFPhase1Jet PFPhase1JetForward25 GenJet   2.4   5  25 -1 None  0.3   -1 -1 -1 PFPhase1JetForward25 200   0  600   50 -5.2   5.2   200   0  5  100   0  10 Jet
PFPhase1Jet PFPhase1JetLDR25  GenJet   -1 2.4   25 -1 None  1.5   -1 -1 -1 PFPhase1JetLDR25  200   0  600   50 -3 3  200 0  5  100   0  10 Jet
PFPhase1Jet PFPhase1JetForwardLDR25 GenJet   2.4   5  25 -1 None  1.5   -1 -1 -1 PFPhase1JetForwardLDR25 200   0  600 50 -5.2  5.2   200   0  5  100   0  10 Jet
# PFPhase1 HT, MHT                                                                           
PFPhase1HT0 PFPhase1HT  HT30  -1 -1 -1 -1 None  -1 -1 -1 -1 PFPhase1HT  200   0  1200  50 -3 3  200   0  5  100   0  10  HT
PFPhase1MHT0   PFPhase1MHT MHT15 -1 -1 -1 -1 None  -1 -1 -1 -1 PFPhase1MHT 200   0  1200  50 -3 3  200   0  5  100   0   10 HT
# Standalone photons: EG + photon ID                                                                           
EG EG Photon   -1 2.4   -1 -1 UseFlag  0.2   -1 -1 -1 EG 100   0  150   30 -3 3  200   0  5  100   0  10 EG
EG EGIso Photon   -1 2.4   -1 0.1   UseFlag  0.2   -1 -1 -1 EGIso 100   0  150   30 -3 3  200   0  5  100   0  10 EG
EG EGWideIso   Photon   -1 2.8   -1 0.1   UseFlag  0.2   -1 -1 -1 EGWideIso   100   0  150   30 -3 3  200   0  5  100 0  10 EG
EG EGLDR Photon   -1 2.4   -1 -1 UseFlag  1  -1 -1 -1 EGLDR 100   0  150   30 -3 3  200   0  5  100   0  10 EG
EG EGExtendedIso  Photon   2.4   2.8   -1 0.1   UseFlag  0.2   -1 -1 -1 EGExtendedIso  100   0  150   30 -3 3  200   0   5  100   0  10 EG
# Standalone electrons: EG + loose track ID                                                                          
EGTrackID   EGTrackID   Electron -1 2.4   -1 -1 UseFlag  0.2   -1 -1 -1 EGTrackID   100   0  150   30 -3 3  200   0  5   100   0  10 EG
EGTrackID   EGTrackIDIso   Electron -1 2.4   -1 0.15  UseFlag  0.2   -1 -1 -1 EGTrackIDIso   100   0  150   30 -3 3  200 0  5  100   0  10 EG
EGTrackID   EGTrackIDWideIso  Electron -1 2.8   -1 0.15  UseFlag  0.2   -1 -1 -1 EGTrackIDWideIso  100   0  150   30 -3  3  200   0  5  100   0  10 EG
EGTrackID   EGTrackIDLDR   Electron -1 2.4   -1 -1 UseFlag  1  -1 -1 -1 EGTrackIDLDR   100   0  150   30 -3 3  200   0   5  100   0  10 EG
EGTrackID   EGTrackIDExtendedIso Electron 2.4   2.8   -1 0.15  UseFlag  0.2   -1 -1 -1 EGTrackIDExtendedIso 100   0  150 30 -3 3  200   0  5  100   0  10 EG
EGTrackID   EGTrackIDZ  ZElectron   -1 2.4   -1 -1 UseFlag  0.2   -1 -1 -1 EGTrackIDZ  100   0  150   30 -3 3  200   0   5  100   0  10 EG
EGTrackID   EGTrackIDZIso  ZElectron   -1 2.4   -1 0.15  UseFlag  0.2   -1 -1 -1 EGTrackIDZIso  100   0  150   30 -3 3 200   0  5  100   0  10 EG
EGTrackID   EGTrackIDZWideIso ZElectron   -1 2.8   -1 0.15  UseFlag  0.2   -1 -1 -1 EGTrackIDZWideIso 100   0  150   30  -3 3  200   0  5  100   0  10 EG
EGTrackID   EGTrackIDZLDR  ZElectron   -1 2.4   -1 -1 UseFlag  1  -1 -1 -1 EGTrackIDZLDR  100   0  150   30 -3 3  200 0  5  100   0  10 EG
EGTrackID   EGTrackIDZExtendedIso   ZElectron   2.4   2.8   -1 0.15  UseFlag  0.2   -1 -1 -1 EGTrackIDZExtendedIso   100 0  150   30 -3 3  200   0  5  100   0  10 EG
# track-matched electrons: TkElectron + loose track ID                                                                          
TkElectronTrackID TkElectronTrackID Electron -1 2.4   -1 -1 UseFlag  0.15  -1 -1 -1 TkElectronTrackID 100   0  150   30  -3 3  200   0  1  100   0  10 EG
TkElectronTrackID TkElectronTrackIDIso Electron -1 2.4   -1 0.15  UseFlag  0.15  -1 -1 -1 TkElectronTrackIDIso 100   0   150   30 -3 3  200   0  1  100   0  10 EG
TkElectronTrackID TkElectronTrackIDWideIso   Electron -1 2.8   -1 0.15  UseFlag  0.15  -1 -1 -1 TkElectronTrackIDWideIso 100   0  150   30 -3 3  200   0  1  100   0  10 EG
TkElectronTrackID TkElectronTrackIDExtendedIso  Electron 2.4   2.8   -1 0.15  UseFlag  0.15  -1 -1 -1 TkElectronTrackIDExtendedIso   100   0  150   30 -3 3  200   0  1  100   0  10 EG
TkElectronTrackID TkElectronTrackIDLDR Electron -1 2.4   -1 -1 UseFlag  1  -1 -1 -1 TkElectronTrackIDLDR 100   0  150 30 -3 3  200   0  1  100   0  10 EG
# Track-matched isolated electrons: TkElectron + (no ID in barrel, 5 in endcap) + Tracker Isolation                                                                         
TkElectron  TkElectron  Electron -1 2.4   -1 -1 BarrelNoneEndcapFive 0.15  -1 -1 -1 TkElectron  100   0  150   30 -3 3 200   0  1  100   0  10 EG
TkElectron  TkElectronIso  Electron -1 2.4   -1 0.15  BarrelNoneEndcapFive 0.15  -1 -1 -1 TkElectronIso  100   0  150 30 -3 3  200   0  1  100   0  10 EG
TkElectron  TkIsoElectron  Electron -1 2.4   -1 0.15  BarrelNoneEndcapFive 0.15  -1 0.1   0.25  TkIsoElectron  100   0   150   30 -3 3  200   0  1  100   0  10 EG
TkElectron  TkIsoElectronWide Electron -1 2.8   -1 0.15  BarrelNoneEndcapFive 0.15  -1 0.1   0.25  TkIsoElectronWide 100 0  150   30 -3 3  200   0  1  100   0  10 EG
TkElectron  TkIsoElectronExtended   Electron 2.4   2.8   -1 0.15  BarrelNoneEndcapFive 0.15  -1 0.1   0.25  TkIsoElectronExtended 100   0  150   30 -3 3  200   0  1  100   0  10 EG
TkElectron  TkElectronLDR  Electron -1 2.4   -1 -1 BarrelNoneEndcapFive 1  -1 -1 -1 TkElectronLDR  100   0  150   30 -3  3  200   0  1  100   0  10 EG
# TkPhoton + Loose track ID + tracker isolation                                                                         
TkPhotonTrackID   TkPhotonTrackID   Photon   -1 2.4   -1 -1 UseFlag  0.15  -1 -1 -1 TkPhotonTrackID   100   0  150   30  -3 3  200   0  0.6   100   0  10 EG
TkPhotonTrackID   TkPhotonTrackIDIso   Photon   -1 2.4   -1 0.15  UseFlag  0.15  -1 -1 -1 TkPhotonTrackIDIso   100   0   150   30 -3 3  200   0  0.6   100   0  10 EG
TkPhotonTrackID   TkPhotonTrackIDIsoWide  Photon   -1 2.8   -1 0.15  UseFlag  0.15  -1 -1 -1 TkPhotonTrackIDIsoWide  100 0  150   30 -3 3  200   0  0.6   100   0  10 EG
TkPhotonTrackID   TkIsoPhotonTrackID   Photon   -1 2.4   -1 0.15  UseFlag  0.15  -1 0.29  0.39  TkIsoPhotonTrackID   100 0  150   30 -3 3  200   0  0.6   100   0  10 EG
TkPhotonTrackID   TkIsoPhotonTrackIDWide  Photon   -1 2.8   -1 0.15  UseFlag  0.15  -1 0.29  0.39  TkIsoPhotonTrackIDWide   100   0  150   30 -3 3  200   0  0.6   100   0  10 EG
TkPhotonTrackID   TkIsoPhotonTrackIDExtended Photon   2.4   2.8   -1 0.15  UseFlag  0.15  -1 0.29  0.39  TkIsoPhotonTrackIDExtended  100   0  150   30 -3 3  200   0  0.6   100   0  10 EG
TkPhotonTrackID   TkPhotonTrackIDLDR   Photon   -1 2.4   -1 -1 UseFlag  1  -1 -1 -1 TkPhotonTrackIDLDR   100   0  150 30 -3 3  200   0  0.6   100   0  10 EG
# TkPhoton + Loose track ID + tracker isolation (PV)                                                                        
TkPhotonPVTrackID TkPhotonPVTrackID Photon   -1 2.4   -1 -1 UseFlag  0.15  -1 -1 -1 TkPhotonPVTrackID 100   0  150   30  -3 3  200   0  0.25  100   0  10 EG
TkPhotonPVTrackID TkPhotonPVTrackIDIso Photon   -1 2.4   -1 0.15  UseFlag  0.15  -1 -1 -1 TkPhotonPVTrackIDIso 100   0   150   30 -3 3  200   0  0.25  100   0  10 EG
TkPhotonPVTrackID TkIsoPhotonPVTrackID Photon   -1 2.4   -1 0.15  UseFlag  0.15  -1 0.064 0.058 TkIsoPhotonPVTrackID 100 0  150   30 -3 3  200   0  0.25  100   0  10 EG
TkPhotonPVTrackID TkPhotonPVTrackIDLDR Photon   -1 2.4   -1 -1 UseFlag  1  -1 -1 -1 TkPhotonPVTrackIDLDR 100   0  150 30 -3 3  200   0  0.25  100   0  10 EG
TkPhotonPVTrackID TkPhotonPVEleTrackID Electron -1 2.4   -1 -1 UseFlag  0.15  -1 -1 -1 TkPhotonPVEleTrackID 100   0  150 30 -3 3  200   0  0.25  100   0  10 EG
TkPhotonPVTrackID TkPhotonPVEleTrackIDIso Electron -1 2.4   -1 0.15  UseFlag  0.15  -1 -1 -1 TkPhotonPVEleTrackIDIso 100 0  150   30 -3 3  200   0  0.25  100   0  10 EG
TkPhotonPVTrackID TkIsoPhotonPVEleTrackID Electron -1 2.4   -1 0.15  UseFlag  0.15  -1 0.064 0.058 TkIsoPhotonPVEleTrackID  100   0  150   30 -3 3  200   0  0.25  100   0  10 EG
TkPhotonPVTrackID TkPhotonPVEleTrackIDLDR Electron -1 2.4   -1 -1 UseFlag  1  -1 -1 -1 TkPhotonPVEleTrackIDLDR 100   0   150   30 -3 3  200   0  0.25  100   0  10 EG
# TkMuon, no quality selection                                                                           
TkMuon   TkMuon   Muon  -1 2.8   -1 -1 None  0.1   -1 -1 -1 TkMuon   100   0  150   30 -3 3  200   0  5  110   0  110 Muon
TkMuon   TkMuonBarrel   Muon  -1 0.83  -1 -1 None  0.1   -1 -1 -1 TkMuonBarrel   100   0  150   30 -1 1  200   0  5  110 0  110   Muon
TkMuon   TkMuonIso   Muon  -1 2.8   -1 0.15  None  0.1   -1 -1 -1 TkMuonIso   100   0  150   30 -3 3  200   0  5  110 0  110   Muon
TkMuon   TkMuonIsoBarrel   Muon  -1 0.83  -1 0.15  None  0.1   -1 -1 -1 TkMuonIsoBarrel   100   0  150   30 -3 3  200 0  5  110   0  110   Muon
TkMuon   TkMuonIsoEndcap   Muon  0.83  2.8   -1 0.15  None  0.1   -1 -1 -1 TkMuonIsoEndcap   100   0  150   30 -3 3  200 0  5  110   0  110   Muon
TkMuon   TkMuonIsoE  Muon  -1 2.8   -1 0.15  None  0.1   3  -1 -1 TkMuonIsoE  100   0  150   30 -3 3  200   0  5  110 0  110   Muon
TkMuon   TkMuonIsoB  Muon  -1 2.8   -1 0.15  None  0.1   1  -1 -1 TkMuonIsoB  100   0  150   30 -3 3  200   0  5  110 0  110   Muon
TkMuon   TkMuonIsoO  Muon  -1 2.8   -1 0.15  None  0.1   2  -1 -1 TkMuonIsoO  100   0  150   30 -3 3  200   0  5  110 0  110   Muon
TkMuon   TkMuonIsoExtended Muon  -1 2.8   -1 0.15  None  0.1   4  -1 -1 TkMuonIsoExtended 100   0  150   30 -3 3  200 0  5  110   0  110   Muon
TkMuon   TkMuonIsoEEta  Muon  1.2   2.4   -1 0.15  None  0.1   -1 -1 -1 TkMuonIsoEEta  100   0  150   30 -3 3  200   0   5  110   0  110   Muon
TkMuon   TkMuonIsoBEta  Muon  -1 0.9   -1 0.15  None  0.1   -1 -1 -1 TkMuonIsoBEta  100   0  150   30 -3 3  200   0  5   110   0  110   Muon
TkMuon   TkMuonIsoOEta  Muon  0.9   1.2   -1 0.15  None  0.1   -1 -1 -1 TkMuonIsoOEta  100   0  150   30 -3 3  200   0   5  110   0  110   Muon
TkMuon   TkMuonIsoExtendedEta Muon  2.4   2.8   -1 0.15  None  0.1   -1 -1 -1 TkMuonIsoExtendedEta 100   0  150   30 -3  3  200   0  5  110   0  110   Muon
TkMuon   TkMuonNoCutIso Muon  -1 2.8   -1 0.15  None  0.1   -1 -1 -1 TkMuonNoCutIso 100   0  150   30 -3 3  200   0  5   110   0  110   Muon
TkMuon   TkMuonBarrelIso   Muon  -1 0.83  -1 0.15  None  0.1   -1 -1 -1 TkMuonBarrelIso   100   0  150   30 -1 1  200 0  5  110   0  110   Muon
TkMuon   TkMuonLDR   Muon  -1 2.8   -1 -1 None  1  -1 -1 -1 TkMuonLDR   100   0  150   30 -3 3  200   0  5  110   0  110 Muon
# PuppiMET                                                                          
PuppiMET PuppiMET MET   -1 -1 -1 -1 None  -1 -1 -1 -1 PuppiMET 100   0  1000  50 -3 3  200   0  5  100   0  10 HT
# NNTau                                                                          
NNTau NNTau VisTau   -1 2.4   -1 -1 UseFlag  0.2   -1 -1 -1 NNTau 150   0  450   30 -2.5  2.5   200   0  5  100   0  10  Tau
NNTau NNTauIso VisTau   -1 2.4   -1 0.15  UseFlag  0.2   -1 -1 -1 NNTauIso 150   0  450   30 -2.5  2.5   200   0  5  100 0  10 Tau
NNTau NNTauLDR VisTau   -1 2.4   -1 -1 UseFlag  1  -1 -1 -1 NNTauLDR 150   0  450   30 -2.5  2.5   200   0  5  100   0   10 Tau
NNTauLoose  NNTauLoose  VisTau   -1 2.4   -1 -1 UseFlag  0.2   -1 -1 -1 NNTauLoose  150   0  450   30 -2.5  2.5   200 0  5  100   0  10 Tau
NNTauLoose  NNTauLooseIso  VisTau   -1 2.4   -1 0.15  UseFlag  0.2   -1 -1 -1 NNTauLooseIso  150   0  450   30 -2.5  2.5 200   0  5  100   0  10 Tau
NNTauLoose  NNTauLooseIsoNarrow  VisTau   -1 2.1   -1 0.15  UseFlag  0.2   -1 -1 -1 NNTauLooseIsoNarrow  150   0  450 30 -2.5  2.5   200   0  5  100   0  10 Tau
NNTauLoose  NNTauLooseLDR  VisTau   -1 2.4   -1 -1 UseFlag  1  -1 -1 -1 NNTauLooseLDR  150   0  450   30 -2.5  2.5   200   0  5  100   0  10 Tau
NNTau NNTauNoID   VisTau   -1 2.4   -1 -1 None  0.2   -1 -1 -1 NNTauNoID   150   0  450   30 -2.5  2.5   200   0  5  100 0  10 Tau
NNTau NNTauNoIDIso   VisTau   -1 2.4   -1 0.15  None  0.2   -1 -1 -1 NNTauNoIDIso   150   0  450   30 -2.5  2.5   200 0  5  100   0  10 Tau
NNTau NNTauNoIDLDR   VisTau   -1 2.4   -1 -1 None  1  -1 -1 -1 NNTauNoIDLDR   150   0  450   30 -2.5  2.5   200   0  5   100   0  10 Tau
NNTauPF  NNTauPF  VisTau   -1 2.4   -1 -1 UseFlag  0.2   -1 -1 -1 NNTauPF  150   0  450   30 -2.5  2.5   200   0  5  100 0  10 Tau
NNTauPF  NNTauPFIso  VisTau   -1 2.4   -1 0.15  UseFlag  0.2   -1 -1 -1 NNTauPFIso  150   0  450   30 -2.5  2.5   200 0  5  100   0  10 Tau
NNTauPF  NNTauPFLDR  VisTau   -1 2.4   -1 -1 UseFlag  1  -1 -1 -1 NNTauPFLDR  150   0  450   30 -2.5  2.5   200   0  5   100   0  10 Tau
NNTauLoosePF   NNTauLoosePF   VisTau   -1 2.4   -1 -1 UseFlag  0.2   -1 -1 -1 NNTauLoosePF   150   0  450   30 -2.5  2.5 200   0  5  100   0  10 Tau
NNTauLoosePF   NNTauLoosePFIso   VisTau   -1 2.4   -1 0.15  UseFlag  0.2   -1 -1 -1 NNTauLoosePFIso   150   0  450   30  -2.5  2.5   200   0  5  100   0  10 Tau
NNTauLoosePF   NNTauLoosePFLDR   VisTau   -1 2.4   -1 -1 UseFlag  1  -1 -1 -1 NNTauLoosePFLDR   150   0  450   30 -2.5 2.5   200   0  5  100   0  10 Tau
NNTauPF  NNPFTauNoID VisTau   -1 2.4   -1 -1 None  0.2   -1 -1 -1 NNPFTauNoID 150   0  450   30 -2.5  2.5   200   0  5   100   0  10 Tau
NNTauPF  NNPFTauNoIDIso VisTau   -1 2.4   -1 0.15  None  0.2   -1 -1 -1 NNPFTauNoIDIso 150   0  450   30 -2.5  2.5   200   0  5  100   0  10 Tau
NNTauPF  NNPFTauNoIDLDR VisTau   -1 2.4   -1 -1 None  1  -1 -1 -1 NNPFTauNoIDLDR 150   0  450   30 -2.5  2.5   200   0   5  100   0  10 Tau
