[submodule "TB2009"]
	path = TB2009
	url = https://github.com/FHead/PhysicsTB2009
	branch = master
[submodule "Vecbos"]
	path = Vecbos
	url = https://github.com/FHead/PhysicsVecbos
	branch = master
[submodule "PAPreparation2016"]
	path = PAPreparation2016
	url = https://github.com/FHead/PhysicsPAPreparation2016
	branch = master
[submodule "PPPrepration2017"]
	path = PPPrepration2017
	url = https://github.com/FHead/PhysicsPPPreparation2017
	branch = master
[submodule "HiggsProperties"]
	path = HiggsProperties
	url = https://github.com/FHead/PhysicsHiggsProperties
	branch = master
[submodule "JECGlobalFit"]
	path = JECGlobalFit
	url = https://github.com/FHead/PhysicsJECGlobalFit
	branch = master
[submodule "LQSearch"]
	path = LQSearch
	url = https://github.com/FHead/PhysicsLQSearch
	branch = master
[submodule "EEJet"]
	path = EEJet
	url = https://github.com/FHead/PhysicsEEJet
	branch = master
[submodule "HI2018HLT"]
	path = HI2018HLT
	url = https://github.com/FHead/PhysicsHI2018HLT
	branch = master
[submodule "HIJetMass"]
	path = HIJetMass
	url = https://github.com/FHead/PhysicsHIJetMass
	branch = master
[submodule "FCCeeHiggsMass"]
	path = FCCeeHiggsMass
	url = https://github.com/FHead/PhysicsFCCeeHiggsMass
	branch = master
[submodule "JetShapeExploration"]
	path = JetShapeExploration
	url = https://github.com/FHead/PhysicsJetShapeExploration
	branch = master
[submodule "HIJetSDCount"]
	path = HIJetSDCount
	url = https://github.com/FHead/PhysicsHIJetSDCount
	branch = master
[submodule "StatisticalFacts"]
	path = StatisticalFacts
	url = https://github.com/FHead/PhysicsStatisticalFacts
	branch = master
[submodule "HIJetML"]
	path = HIJetML
	url = https://github.com/FHead/PhysicsHIJetML
	branch = master
[submodule "L1TriggerUpgrade"]
	path = L1TriggerUpgrade
	url = https://github.com/FHead/PhysicsL1TriggerUpdate
	branch = master
[submodule "L1TriggerUpgrade2018"]
	path = L1TriggerUpgrade2018
	url = https://github.com/FHead/PhysicsL1TriggerUpdate2018
	branch = master
[submodule "JetEnergyCorrection"]
	path = JetEnergyCorrection
	url = https://github.com/FHead/PhysicsJetEnergyCorrection
	branch = master
[submodule "JetScape"]
	path = JetScape
	url = https://github.com/FHead/PhysicsJetScape
	branch = master
[submodule "HIJetRAA"]
	path = HIJetRAA
	url = https://github.com/FHead/PhysicsHIJetRAA
	branch = master
[submodule "HIJetRAA2018"]
	path = HIJetRAA2018
	url = https://github.com/FHead/PhysicsHIJetRAA2018
	branch = master
[submodule "HIJetReco2018"]
	path = HIJetReco2018
	url = https://github.com/FHead/PhysicsHIJetReco2018
	branch = master
[submodule "MachineLearning"]
	path = MachineLearning
	url = https://github.com/FHead/PhysicsMachineLearning
	branch = master
[submodule "MiniProjects"]
	path = MiniProjects
	url = https://github.com/FHead/PhysicsMiniProjects
	branch = master
[submodule "PeakHunting"]
	path = PeakHunting
	url = https://github.com/FHead/PhysicsPeakHunting
	branch = master
