[submodule "TB2009"]
	path = TB2009
	url = https://github.com/FHead/PhysicsTB2009
[submodule "Vecbos"]
	path = Vecbos
	url = https://github.com/FHead/PhysicsVecbos
[submodule "PAPreparation2016"]
	path = PAPreparation2016
	url = https://github.com/FHead/PhysicsPAPreparation2016
[submodule "PPPrepration2017"]
	path = PPPrepration2017
	url = https://github.com/FHead/PhysicsPPPreparation2017
[submodule "HiggsProperties"]
	path = HiggsProperties
	url = https://github.com/FHead/PhysicsHiggsProperties
[submodule "JECGlobalFit"]
	path = JECGlobalFit
	url = https://github.com/FHead/PhysicsJECGlobalFit
[submodule "LQSearch"]
	path = LQSearch
	url = https://github.com/FHead/PhysicsLQSearch
[submodule "EEJet"]
	path = EEJet
	url = https://github.com/FHead/PhysicsEEJet
[submodule "HI2018HLT"]
	path = HI2018HLT
	url = https://github.com/FHead/PhysicsHI2018HLT
[submodule "HIJetMass"]
	path = HIJetMass
	url = https://github.com/FHead/PhysicsHIJetMass
[submodule "FCCeeHiggsMass"]
	path = FCCeeHiggsMass
	url = https://github.com/FHead/PhysicsFCCeeHiggsMass
[submodule "JetShapeExploration"]
	path = JetShapeExploration
	url = https://github.com/FHead/PhysicsJetShapeExploration
