[submodule "TB2009"]
	path = TB2009
	url = https://github.com/FHead/PhysicsTB2009
[submodule "Vecbos"]
	path = Vecbos
	url = https://github.com/FHead/PhysicsVecbos
[submodule "PAPreparation2016"]
	path = PAPreparation2016
	url = https://github.com/FHead/PhysicsPAPreparation2016
[submodule "PPPrepration2017"]
	path = PPPrepration2017
	url = https://github.com/FHead/PhysicsPPPreparation2017
