Input Object   Directory   Reference   Eta Range   Reference Iso  Quality  DR Cut   Type / Region  IsolationBB IsolationEC  Histogram   Binning for PT       Binning for eta         Binning for iso         Thresholds
TkElectron  TkElectronIso  Electron 2.4   0.15  UseFlag  0.2   -1 -1 -1 TkElectronIso  100   0  150   30 -3.5  3.5   200   0  1  EG
