Input Object   Directory   Reference   Eta Range   Reference Iso  Quality  DR Cut   Type / Region  IsolationBB IsolationEC  Histogram   Binning for PT       Binning for eta         Binning for iso         Thresholds
TkMuon   TkMuon   Muon  2.4   -1 -1 Twelve   0.1   -1 -1 -1 TkMuon   100   0  150   30 -2.5  2.5   200   0  5  Muon
