Input Object   Directory   Reference   |Eta| Min   |Eta| Max   Reference Iso  Quality  DR Cut   Type / Region  IsolationBB  IsolationEC Histogram   Binning for PT       Binning for eta         Binning for iso         Binning for dxy       Thresholds
# Gen objects                                                                       
Gen   GenElectron Electron -1 2.4   -1 None  -1 -1 -1 -1 GenElectron 100   0  150   30 -2.5  2.5   200   0  5  100   0   10 Gen
Gen   GenMuon  Muon  -1 2.4   -1 None  -1 -1 -1 -1 GenMuon  100   0  150   30 -2.5  2.5   200   0  5  100   0  10 Gen
Gen   GenPhoton   Photon   -1 2.4   -1 None  -1 -1 -1 -1 GenPhoton   100   0  150   30 -2.5  2.5   200   0  5  100   0   10 Gen
Gen   GenJet   GenJet   -1 2.4   -1 None  -1 -1 -1 -1 GenJet   200   0  600   50 -3 3  200   0  5  100   0  10 Gen
Gen   GenTau   Tau   -1 2.4   -1 None  -1 -1 -1 -1 GenTau   100   0  150   30 -2.5  2.5   200   0  5  100   0  10 Gen
# Standalone muon collection with quality >= 12                                                                      
StandaloneMuon StandaloneMuon Muon  -1 2.4   -1 Twelve   0.3   -1 -1 -1 StandaloneMuon 100   0  150   30 -2.5  2.5   200   0  5  100   0  10 Muon
StandaloneMuon StandaloneMuonIso Muon  -1 2.4   0.15  Twelve   0.3   -1 -1 -1 StandaloneMuonIso 100   0  150   30 -2.5 2.5   200   0  5  100   0  10 Muon
StandaloneMuon StandaloneMuonLDR Muon  -1 2.4   -1 Twelve   1  -1 -1 -1 StandaloneMuonLDR 100   0  150   30 -2.5  2.5   200   0  5  100   0  10 Muon
# Standalone displaced muon collection with quality >= 12.  Barrel only.  Use PT2                                                                      
StandaloneDisplacedMuon StandaloneDisplacedMuon Muon  -1 1.5   -1 Twelve   0.3   -1 -1 -1 StandaloneDisplacedMuon 100 0  150   30 -1.6  1.6   200   0  5  100   0  10 Muon
StandaloneDisplacedMuon StandaloneDisplacedMuonIso Muon  -1 1.5   0.15  Twelve   0.3   -1 -1 -1 StandaloneDisplacedMuonIso  100   0  150   30 -1.6  1.6   200   0  5  100   0  10 Muon
StandaloneDisplacedMuon StandaloneDisplacedMuonBarrelIso Muon  -1 0.83  0.15  Twelve   0.3   -1 -1 -1 StandaloneDisplacedMuonBarrelIso  100   0  150   30 -1 1  200   0  5  100   0  10 Muon
StandaloneDisplacedMuon StandaloneDisplacedMuonLDR Muon  -1 1.5   -1 Twelve   1  -1 -1 -1 StandaloneDisplacedMuonLDR 100 0  150   30 -1.6  1.6   200   0  5  100   0  10 Muon
StandaloneDisplacedMuon StandaloneDisplacedMuonDXYIso Muon  -1 1.5   0.15  TwelveDXYOne   0.3   -1 -1 -1 StandaloneDisplacedMuonDXYIso  100   0  150   30 -1.6  1.6   200   0  5  100   0  10 Muon
StandaloneDisplacedMuon StandaloneDisplacedMuonBarrelDXYIso Muon  -1 0.83  0.15  TwelveDXYOne   0.3   -1 -1 -1 StandaloneDisplacedMuonBarrelDXYIso  100   0  150   30 -1 1  200   0  5  100   0  10 Muon
# TkMuon, quality >= 12                                                                      
TkMuon   TkMuon   Muon  -1 2.4   -1 Twelve   0.1   -1 -1 -1 TkMuon   100   0  150   30 -2.5  2.5   200   0  5  100   0   10 Muon
TkMuon   TkMuonBarrel   Muon  -1 0.83  -1 Twelve   0.1   -1 -1 -1 TkMuonBarrel   100   0  150   30 -1 1  200   0  5  100 0  10 Muon
TkMuon   TkMuonIso   Muon  -1 2.4   0.15  Twelve   0.1   -1 -1 -1 TkMuonIso   100   0  150   30 -2.5  2.5   200   0  5   100   0  10 Muon
TkMuon   TkMuonNoCutIso Muon  -1 2.4   0.15  None  0.1   -1 -1 -1 TkMuonNoCutIso 100   0  150   30 -2.5  2.5   200   0   5  100   0  10 Muon
TkMuon   TkMuonBarrelIso   Muon  -1 0.83  0.15  Twelve   0.1   -1 -1 -1 TkMuonBarrelIso   100   0  150   30 -1 1  200 0  5  100   0  10 Muon
TkMuon   TkMuonLDR   Muon  -1 2.4   -1 Twelve   1  -1 -1 -1 TkMuonLDR   100   0  150   30 -2.5  2.5   200   0  5  100 0  10 Muon
# TkMuonStubs, no quality selection                                                                      
TkMuonStub  TkMuonStub  Muon  -1 2.4   -1 None  0.1   -1 -1 -1 TkMuonStub  100   0  150   30 -2.5  2.5   200   0  5  100 0  10 Muon
TkMuonStub  TkMuonStubBarrelIso  Muon  -1 0.83  0.15  None  0.1   -1 -1 -1 TkMuonStubBarrelIso  100   0  150   30 -1 1 200   0  5  100   0  10 Muon
TkMuonStub  TkMuonStubIso  Muon  -1 2.4   0.15  None  0.1   -1 -1 -1 TkMuonStubIso  100   0  150   30 -2.5  2.5   200 0  5  100   0  10 Muon
TkMuonStub  TkMuonStubLDR  Muon  -1 2.4   -1 None  1  -1 -1 -1 TkMuonStubLDR  100   0  150   30 -2.5  2.5   200   0  5   100   0  10 Muon
# Standalone photons: EG + photon ID                                                                        
EG EG Photon   -1 2.4   -1 UseFlag  0.2   -1 -1 -1 EG 100   0  150   30 -2.5  2.5   200   0  5  100   0  10 EG
EG EGIso Photon   -1 2.4   0.1   UseFlag  0.2   -1 -1 -1 EGIso 100   0  150   30 -2.5  2.5   200   0  5  100   0  10 EG
EG EGLDR Photon   -1 2.4   -1 UseFlag  1  -1 -1 -1 EGLDR 100   0  150   30 -2.5  2.5   200   0  5  100   0  10 EG
# Standalone electrons: EG + loose track ID                                                                       
EGTrackID   EGTrackID   Electron -1 2.4   -1 UseFlag  0.2   -1 -1 -1 EGTrackID   100   0  150   30 -2.5  2.5   200   0   5  100   0  10 EG
EGTrackID   EGTrackIDIso   Electron -1 2.4   0.15  UseFlag  0.2   -1 -1 -1 EGTrackIDIso   100   0  150   30 -2.5  2.5   200   0  5  100   0  10 EG
EGTrackID   EGTrackIDLDR   Electron -1 2.4   -1 UseFlag  1  -1 -1 -1 EGTrackIDLDR   100   0  150   30 -2.5  2.5   200 0  5  100   0  10 EG
# track-matched electrons: TkElectron + loose track ID                                                                       
TkElectronTrackID TkElectronTrackID Electron -1 2.4   -1 UseFlag  0.15  -1 -1 -1 TkElectronTrackID 100   0  150   30 -2.5   2.5   200   0  1  100   0  10 EG
TkElectronTrackID TkElectronTrackIDIso Electron -1 2.4   0.15  UseFlag  0.15  -1 -1 -1 TkElectronTrackIDIso 100   0  150 30 -2.5  2.5   200   0  1  100   0  10 EG
TkElectronTrackID TkElectronTrackIDLDR Electron -1 2.4   -1 UseFlag  1  -1 -1 -1 TkElectronTrackIDLDR 100   0  150   30  -2.5  2.5   200   0  1  100   0  10 EG
# Track-matched isolated electrons: TkElectron + (no ID in barrel, >=2 in endcap) + Tracker Isolation                                                                      
TkElectron  TkElectron  Electron -1 2.4   -1 BarrelNoneEndcapTwo  0.15  -1 -1 -1 TkElectron  100   0  150   30 -2.5  2.5 200   0  1  100   0  10 EG
TkElectron  TkElectronIso  Electron -1 2.4   0.15  BarrelNoneEndcapTwo  0.15  -1 -1 -1 TkElectronIso  100   0  150   30  -2.5  2.5   200   0  1  100   0  10 EG
TkElectron  TkIsoElectron  Electron -1 2.4   0.15  BarrelNoneEndcapTwo  0.15  -1 0.1   0.2   TkIsoElectron  100   0  150 30 -2.5  2.5   200   0  1  100   0  10 EG
TkElectron  TkElectronLDR  Electron -1 2.4   -1 BarrelNoneEndcapTwo  1  -1 -1 -1 TkElectronLDR  100   0  150   30 -2.5 2.5   200   0  1  100   0  10 EG
# TkPhoton + Loose track ID + tracker isolation                                                                      
TkPhotonTrackID   TkPhotonTrackID   Photon   -1 2.4   -1 UseFlag  0.15  -1 -1 -1 TkPhotonTrackID   100   0  150   30 -2.5   2.5   200   0  0.6   100   0  10 EG
TkPhotonTrackID   TkPhotonTrackIDIso   Photon   -1 2.4   0.15  UseFlag  0.15  -1 -1 -1 TkPhotonTrackIDIso   100   0  150 30 -2.5  2.5   200   0  0.6   100   0  10 EG
TkPhotonTrackID   TkIsoPhotonTrackID   Photon   -1 2.4   0.15  UseFlag  0.15  -1 0.29  0.33  TkIsoPhotonTrackID   100 0  150   30 -2.5  2.5   200   0  0.6   100   0  10 EG
TkPhotonTrackID   TkPhotonTrackIDLDR   Photon   -1 2.4   -1 UseFlag  1  -1 -1 -1 TkPhotonTrackIDLDR   100   0  150   30  -2.5  2.5   200   0  0.6   100   0  10 EG
# TkPhoton + Loose track ID + tracker isolation (PV)                                                                     
TkPhotonPVTrackID TkPhotonPVTrackID Photon   -1 2.4   -1 UseFlag  0.15  -1 -1 -1 TkPhotonPVTrackID 100   0  150   30 -2.5   2.5   200   0  0.25  100   0  10 EG
TkPhotonPVTrackID TkPhotonPVTrackIDIso Photon   -1 2.4   0.15  UseFlag  0.15  -1 -1 -1 TkPhotonPVTrackIDIso 100   0  150 30 -2.5  2.5   200   0  0.25  100   0  10 EG
TkPhotonPVTrackID TkIsoPhotonPVTrackID Photon   -1 2.4   0.15  UseFlag  0.15  -1 0.065 0.055 TkIsoPhotonPVTrackID 100 0  150   30 -2.5  2.5   200   0  0.25  100   0  10 EG
TkPhotonPVTrackID TkPhotonPVTrackIDLDR Photon   -1 2.4   -1 UseFlag  1  -1 -1 -1 TkPhotonPVTrackIDLDR 100   0  150   30  -2.5  2.5   200   0  0.25  100   0  10 EG
TkPhotonPVTrackID TkPhotonPVEleTrackID Electron -1 2.4   -1 UseFlag  0.15  -1 -1 -1 TkPhotonPVEleTrackID 100   0  150 30 -2.5  2.5   200   0  0.25  100   0  10 EG
TkPhotonPVTrackID TkPhotonPVEleTrackIDIso Electron -1 2.4   0.15  UseFlag  0.15  -1 -1 -1 TkPhotonPVEleTrackIDIso 100 0  150   30 -2.5  2.5   200   0  0.25  100   0  10 EG
TkPhotonPVTrackID TkIsoPhotonPVEleTrackID Electron -1 2.4   0.15  UseFlag  0.15  -1 0.065 0.055 TkIsoPhotonPVEleTrackID  100   0  150   30 -2.5  2.5   200   0  0.25  100   0  10 EG
TkPhotonPVTrackID TkPhotonPVEleTrackIDLDR Electron -1 2.4   -1 UseFlag  1  -1 -1 -1 TkPhotonPVEleTrackIDLDR 100   0  150 30 -2.5  2.5   200   0  0.25  100   0  10 EG
# TkIsoElectronPV: later                                                                        
TkElectronPV   TkElectronPV   Electron -1 2.4   -1 None  0.2   -1 -1 -1 TkElectronPV   100   0  150   30 -2.5  2.5   200   0  0.5   100   0  10 EG
TkElectronPV   TkElectronPVIso   Electron -1 2.4   0.15  None  0.2   -1 -1 -1 TkElectronPVIso   100   0  150   30 -2.5 2.5   200   0  0.5   100   0  10 EG
TkElectronPV   TkIsoElectronPV   Electron -1 2.4   0.15  None  0.2   -1 1  1  TkIsoElectronPV   100   0  150   30 -2.5 2.5   200   0  0.5   100   0  10 EG
TkElectronPV   TkElectronPVLDR   Electron -1 2.4   -1 None  1  -1 -1 -1 TkElectronPVLDR   100   0  150   30 -2.5  2.5   200   0  0.5   100   0  10 EG
# PuppiJets                                                                      
PuppiJet PuppiJet GenJet   -1 2.4   -1 None  0.3   -1 -1 -1 PuppiJet 200   0  600   50 -3 3  200   0  5  100   0  10 Jet
PuppiJet PuppiJetWide   GenJet   -1 5.2   -1 None  0.3   -1 -1 -1 PuppiJetWide   200   0  600   50 -5.2  5.2   200   0   5  100   0  10 Jet
PuppiJet PuppiJetForward   GenJet   3  5.2   -1 None  0.3   -1 -1 -1 PuppiJetForward   200   0  600   50 -5.2  5.2   200   0  5  100   0  10 Jet
PuppiJet PuppiJetLDR GenJet   -1 2.4   -1 None  1.5   -1 -1 -1 PuppiJetLDR 200   0  600   50 -3 3  200   0  5  100   0   10 Jet
PuppiJet PuppiJetForwardLDR   GenJet   3  5.2   -1 None  1.5   -1 -1 -1 PuppiJetForwardLDR   200   0  600   50 -5.2  5.2 200   0  5  100   0  10 Jet
# PuppiJetsForMET                                                                      
PuppiJetForMET PuppiJetForMET GenJet   -1 2.4   -1 None  0.3   -1 -1 -1 PuppiJetForMET 200   0  600   50 -3 3  200   0   5  100   0  10 Jet
PuppiJetForMET PuppiJetForMETWide   GenJet   -1 5.2   -1 None  0.3   -1 -1 -1 PuppiJetForMETWide   200   0  600   50 -5.2   5.2   200   0  5  100   0  10 Jet
PuppiJetForMET PuppiJetForMETForward   GenJet   3  5.2   -1 None  0.3   -1 -1 -1 PuppiJetForMETForward   200   0  600 50 -5.2  5.2   200   0  5  100   0  10 Jet
PuppiJetForMET PuppiJetForMETLDR GenJet   -1 2.4   -1 None  1.5   -1 -1 -1 PuppiJetForMETLDR 200   0  600   50 -3 3  200 0  5  100   0  10 Jet
PuppiJetForMET PuppiJetForMETForwardLDR   GenJet   3  5.2   -1 None  1.5   -1 -1 -1 PuppiJetForMETForwardLDR   200   0   600   50 -5.2  5.2   200   0  5  100   0  10 Jet
# PuppiHT                                                                        
PuppiHT0 PuppiHT15   HT15  -1 -1 -1 None  -1 -1 -1 -1 PuppiHT15   200   0  1200  50 -3 3  200   0  5  100   0  10 HT
PuppiHT1 PuppiHT20   HT20  -1 -1 -1 None  -1 -1 -1 -1 PuppiHT20   200   0  1200  50 -3 3  200   0  5  100   0  10 HT
PuppiHT2 PuppiHT30   HT30  -1 -1 -1 None  -1 -1 -1 -1 PuppiHT30   200   0  1200  50 -3 3  200   0  5  100   0  10 HT
# PuppiMET                                                                       
PuppiMET PuppiMET MET   -1 -1 -1 None  -1 -1 -1 -1 PuppiMET 100   0  1000  50 -3 3  200   0  5  100   0  10 HT
# PFTau, no isolation requirement; and PFIsoTau with medium working point                                                                       
PFTau PFTau Tau   -1 2.4   -1 None  0.3   -1 -1 -1 PFTau 100   0  150   30 -2.5  2.5   200   0  5  100   0  10 Tau
PFTau PFTauIso Tau   -1 2.4   0.15  None  0.3   -1 -1 -1 PFTauIso 100   0  150   30 -2.5  2.5   200   0  5  100   0  10  Tau
PFTau PFIsoTau Tau   -1 2.4   0.15  UseFlag  0.3   -1 -1 -1 PFIsoTau 100   0  150   30 -2.5  2.5   200   0  5  100   0   10 Tau
PFTau PFTauLDR Tau   -1 2.4   -1 None  1  -1 -1 -1 PFTauLDR 100   0  150   30 -2.5  2.5   200   0  5  100   0  10 Tau
# CaloJets                                                                       
CaloJet  CaloJet  GenJet   -1 2.4   -1 None  0.3   -1 -1 -1 CaloJet  150   0  700   50 -3 3  200   0  5  100   0  10 Jet
CaloJet  CaloJetWide GenJet   -1 5.2   -1 None  0.3   -1 -1 -1 CaloJetWide 150   0  700   50 -5.2  5.2   200   0  5  100 0  10 Jet
CaloJet  CaloJetBarrel  GenJet   -1 1.5   -1 None  0.3   -1 -1 -1 CaloJetBarrel  150   0  700   50 -3 3  200   0  5  100 0  10 Jet
CaloJet  CaloJetEndcap  GenJet   1.5   2.4   -1 None  0.3   -1 -1 -1 CaloJetEndcap  150   0  700   50 -3 3  200   0  5   100   0  10 Jet
CaloJet  CaloJetFoward  GenJet   2.4   5.2   -1 None  0.3   -1 -1 -1 CaloJetFoward  150   0  700   50 -5.2  5.2   200 0  5  100   0  10 Jet
CaloJet  CaloJetLDR  GenJet   -1 2.4   -1 None  1.5   -1 -1 -1 CaloJetLDR  150   0  700   50 -3 3  200   0  5  100   0   10 Jet
CaloJet  CaloJetWideLDR GenJet   -1 5.2   -1 None  1.5   -1 -1 -1 CaloJetWideLDR 150   0  700   50 -5.2  5.2   200   0   5  100   0  10 Jet
# CaloHT: missing                                                                      
# TrackerJet                                                                        
TrackerJet  TrackerJet  GenJet   -1 2.4   -1 None  0.3   -1 -1 -1 TrackerJet  150   0  700   50 -3 3  200   0  5  100 0  10 Jet
TrackerJet  TrackerJetWide GenJet   -1 5.2   -1 None  0.3   -1 -1 -1 TrackerJetWide 150   0  700   50 -5.2  5.2   200 0  5  100   0  10 Jet
TrackerJet  TrackerJetBarrel  GenJet   -1 1.5   -1 None  0.3   -1 -1 -1 TrackerJetBarrel  150   0  700   50 -3 3  200 0  5  100   0  10 Jet
TrackerJet  TrackerJetEndcap  GenJet   1.5   2.4   -1 None  0.3   -1 -1 -1 TrackerJetEndcap  150   0  700   50 -3 3  200 0  5  100   0  10 Jet
TrackerJet  TrackerJetFoward  GenJet   2.4   5.2   -1 None  0.3   -1 -1 -1 TrackerJetFoward  150   0  700   50 -5.2  5.2 200   0  5  100   0  10 Jet
TrackerJet  TrackerJetLDR  GenJet   -1 2.4   -1 None  1.5   -1 -1 -1 TrackerJetLDR  150   0  700   50 -3 3  200   0  5   100   0  10 Jet
TrackerJet  TrackerJetWideLDR GenJet   -1 5.2   -1 None  1.5   -1 -1 -1 TrackerJetWideLDR 150   0  700   50 -5.2  5.2   200   0  5  100   0  10 Jet
TrackerJet  TrackerJetCharged ChargedGenJet  -1 2.4   -1 None  0.3   -1 -1 -1 TrackerJetCharged 150   0  700   50 -3 3 200   0  5  100   0  10 Jet
TrackerJet  TrackerJetChargedWide   ChargedGenJet  -1 5.2   -1 None  0.3   -1 -1 -1 TrackerJetChargedWide   150   0  700 50 -5.2  5.2   200   0  5  100   0  10 Jet
TrackerJet  TrackerJetChargedBarrel ChargedGenJet  -1 1.5   -1 None  0.3   -1 -1 -1 TrackerJetChargedBarrel 150   0  700 50 -3 3  200   0  5  100   0  10 Jet
TrackerJet  TrackerJetChargedEndcap ChargedGenJet  1.5   2.4   -1 None  0.3   -1 -1 -1 TrackerJetChargedEndcap 150   0   700   50 -3 3  200   0  5  100   0  10 Jet
TrackerJet  TrackerJetChargedFoward ChargedGenJet  2.4   5.2   -1 None  0.3   -1 -1 -1 TrackerJetChargedFoward 150   0   700   50 -5.2  5.2   200   0  5  100   0  10 Jet
TrackerJet  TrackerJetChargedLDR ChargedGenJet  -1 2.4   -1 None  1.5   -1 -1 -1 TrackerJetChargedLDR 150   0  700   50  -3 3  200   0  5  100   0  10 Jet
TrackerJet  TrackerJetChargedWideLDR   ChargedGenJet  -1 5.2   -1 None  1.5   -1 -1 -1 TrackerJetChargedWideLDR   150 0  700   50 -5.2  5.2   200   0  5  100   0  10 Jet
# TrackerHT                                                                      
TrackerHT0  TrackerHT5  HT30  -1 -1 -1 None  -1 -1 -1 -1 TrackerHT5  200   0  1200  50 -3 3  200   0  5  100   0  10 HT
TrackerHT0  TrackerHTCharged5 ChargedHT30 -1 -1 -1 None  -1 -1 -1 -1 TrackerHTCharged5 200   0  1200  50 -3 3  200   0   5  100   0  10 HT
# TrackerMET                                                                        
TrackerMET  TrackerMET  MET   -1 -1 -1 None  -1 -1 -1 -1 TrackerMET  100   0  1000  50 -3 3  200   0  5  100   0  10 HT
TrackerMET  TrackerMETCharged ChargedMET  -1 -1 -1 None  -1 -1 -1 -1 TrackerMETCharged 100   0  1000  50 -3 3  200   0   5  100   0  10 HT
# TkTau                                                                       
TkTau TkTau Tau   -1 2.5   -1 None  0.15  -1 -1 -1 TkTau 100   0  150   30 -2.5  2.5   200   0  5  100   0  10 Tau
TkTau TkTauIso Tau   -1 2.5   0.15  None  0.15  -1 -1 -1 TkTauIso 100   0  150   30 -2.5  2.5   200   0  5  100   0  10  Tau
TkTau TkIsoTau Tau   -1 2.5   0.15  None  0.15  -1 -1 -1 TkIsoTau 100   0  150   30 -2.5  2.5   200   0  5  100   0  10  Tau
TkTau TkTauLDR Tau   -1 2.5   -1 None  1  -1 -1 -1 TkTauLDR 100   0  150   30 -2.5  2.5   200   0  5  100   0  10 Tau
# CaloTkTau                                                                      
CaloTkTau   CaloTkTau   Tau   -1 1.5   -1 None  0.2   -1 -1 -1 CaloTkTau   100   0  150   30 -1.5  1.5   200   0  5  100 0  10 Tau
CaloTkTau   CaloTkTauIso   Tau   -1 1.5   0.15  None  0.2   -1 -1 -1 CaloTkTauIso   100   0  150   30 -1.5  1.5   200 0  5  100   0  10 Tau
CaloTkTau   CaloTkIsoTau   Tau   -1 1.5   0.15  None  0.2   -1 -1 -1 CaloTkIsoTau   100   0  150   30 -1.5  1.5   200 0  5  100   0  10 Tau
CaloTkTau   CaloTkTauLDR   Tau   -1 1.5   -1 None  1  -1 -1 -1 CaloTkTauLDR   100   0  150   30 -1.5  1.5   200   0  5   100   0  10 Tau
# TkEGTau                                                                        
TkEGTau  TkEGTau  Tau   -1 1.5   -1 None  0.15  -1 -1 -1 TkEGTau  100   0  150   30 -1.5  1.5   200   0  5  100   0  10  Tau
TkEGTau  TkEGTauIso  Tau   -1 1.5   0.15  None  0.15  -1 -1 -1 TkEGTauIso  100   0  150   30 -1.5  1.5   200   0  5  100 0  10 Tau
TkEGTau  TkIsoEGTau  Tau   -1 1.5   0.15  None  0.15  -1 -1 -1 TkIsoEGTau  100   0  150   30 -1.5  1.5   200   0  5  100 0  10 Tau
TkEGTau  TkEGTauLDR  Tau   -1 1.5   -1 None  1  -1 -1 -1 TkEGTauLDR  100   0  150   30 -1.5  1.5   200   0  5  100   0   10 Tau
