Input Object   Directory   Reference   |Eta| Min   |Eta| Max   Reference Iso  Quality  DR Cut   Type / Region  IsolationBB  IsolationEC Histogram   Binning for PT       Binning for eta         Binning for iso         Binning for dxy       Thresholds
# Standalone muon collection with quality >= 12                                                                      
StandaloneMuon StandaloneMuon Muon  -1 2.4   -1 Twelve   0.3   -1 -1 -1 StandaloneMuon 100   0  150   30 -2.5  2.5   200   0  5  100   0  10 Muon
StandaloneMuon StandaloneMuonIso Muon  -1 2.4   0.15  Twelve   0.3   -1 -1 -1 StandaloneMuonIso 100   0  150   30 -2.5 2.5   200   0  5  100   0  10 Muon
StandaloneMuon StandaloneMuonLDR Muon  -1 2.4   -1 Twelve   1  -1 -1 -1 StandaloneMuonLDR 100   0  150   30 -2.5  2.5   200   0  5  100   0  10 Muon
# Standalone displaced muon collection with quality >= 12.  Barrel only.  Use PT2                                                                      
StandaloneDisplacedMuon StandaloneDisplacedMuon Muon  -1 1.5   -1 Twelve   0.3   -1 -1 -1 StandaloneDisplacedMuon 100 0  150   30 -2.5  2.5   200   0  5  100   0  10 Muon
StandaloneDisplacedMuon StandaloneDisplacedMuonIso Muon  -1 1.5   0.15  Twelve   0.3   -1 -1 -1 StandaloneDisplacedMuonIso  100   0  150   30 -2.5  2.5   200   0  5  100   0  10 Muon
StandaloneDisplacedMuon StandaloneDisplacedMuonLDR Muon  -1 1.5   -1 Twelve   1  -1 -1 -1 StandaloneDisplacedMuonLDR 100 0  150   30 -2.5  2.5   200   0  5  100   0  10 Muon
# TkMuon, quality >= 12                                                                      
TkMuon   TkMuon   Muon  -1 2.4   -1 Twelve   0.1   -1 -1 -1 TkMuon   100   0  150   30 -2.5  2.5   200   0  5  100   0   10 Muon
TkMuon   TkMuonBarrel   Muon  -1 0.8   -1 Twelve   0.1   -1 -1 -1 TkMuonBarrel   100   0  150   30 -2.5  2.5   200   0   5  100   0  10 Muon
TkMuon   TkMuonIso   Muon  -1 2.4   0.15  Twelve   0.1   -1 -1 -1 TkMuonIso   100   0  150   30 -2.5  2.5   200   0  5   100   0  10 Muon
TkMuon   TkMuonNoCutIso Muon  -1 2.4   0.15  None  0.1   -1 -1 -1 TkMuonNoCutIso 100   0  150   30 -2.5  2.5   200   0   5  100   0  10 Muon
TkMuon   TkMuonBarrelIso   Muon  -1 0.8   0.15  Twelve   0.1   -1 -1 -1 TkMuonBarrelIso   100   0  150   30 -2.5  2.5   200   0  5  100   0  10 Muon
TkMuon   TkMuonLDR   Muon  -1 2.4   -1 Twelve   1  -1 -1 -1 TkMuonLDR   100   0  150   30 -2.5  2.5   200   0  5  100 0  10 Muon
# TkMuonStubs, no quality selection                                                                      
TkMuonStub  TkMuonStub  Muon  -1 1.1   -1 None  0.1   -1 -1 -1 TkMuonStub  100   0  150   30 -2.5  2.5   200   0  5  100 0  10 Muon
TkMuonStub  TkMuonStubBarrelIso  Muon  -1 0.8   0.15  None  0.1   -1 -1 -1 TkMuonStubBarrelIso  100   0  150   30 -2.5 2.5   200   0  5  100   0  10 Muon
TkMuonStub  TkMuonStubIso  Muon  -1 1.1   0.15  None  0.1   -1 -1 -1 TkMuonStubIso  100   0  150   30 -2.5  2.5   200 0  5  100   0  10 Muon
TkMuonStub  TkMuonStubLDR  Muon  -1 1.1   -1 None  1  -1 -1 -1 TkMuonStubLDR  100   0  150   30 -2.5  2.5   200   0  5   100   0  10 Muon
# Standalone photons: EG + photon ID                                                                        
EG EG Photon   -1 2.4   -1 UseFlag  0.3   -1 -1 -1 EG 100   0  150   30 -2.5  2.5   200   0  5  100   0  10 EG
EG EGIso Photon   -1 2.4   0.1   UseFlag  0.3   -1 -1 -1 EGIso 100   0  150   30 -2.5  2.5   200   0  5  100   0  10 EG
EG EGLDR Photon   -1 2.4   -1 UseFlag  1  -1 -1 -1 EGLDR 100   0  150   30 -2.5  2.5   200   0  5  100   0  10 EG
# Standalone electrons: EG + loose track ID                                                                       
EGTrackID   EGTrackID   Electron -1 2.4   -1 UseFlag  0.3   -1 -1 -1 EGTrackID   100   0  150   30 -2.5  2.5   200   0   5  100   0  10 EG
EGTrackID   EGTrackIDIso   Electron -1 2.4   0.15  UseFlag  0.3   -1 -1 -1 EGTrackIDIso   100   0  150   30 -2.5  2.5   200   0  5  100   0  10 EG
EGTrackID   EGTrackIDLDR   Electron -1 2.4   -1 UseFlag  1  -1 -1 -1 EGTrackIDLDR   100   0  150   30 -2.5  2.5   200 0  5  100   0  10 EG
# track-matched electrons: TkElectron + loose track ID                                                                       
TkElectronTrackID TkElectronTrackID Electron -1 2.4   -1 UseFlag  0.3   -1 -1 -1 TkElectronTrackID 100   0  150   30 -2.5   2.5   200   0  5  100   0  10 EG
TkElectronTrackID TkElectronTrackIDIso Electron -1 2.4   0.15  UseFlag  0.3   -1 -1 -1 TkElectronTrackIDIso 100   0  150 30 -2.5  2.5   200   0  5  100   0  10 EG
TkElectronTrackID TkElectronTrackIDLDR Electron -1 2.4   -1 UseFlag  1  -1 -1 -1 TkElectronTrackIDLDR 100   0  150   30  -2.5  2.5   200   0  5  100   0  10 EG
# Track-matched isolated electrons: TkElectron + (no ID in barrel, >=2 in endcap) + Tracker Isolation                                                                      
TkElectron  TkElectron  Electron -1 2.4   -1 BarrelNoneEndcapTwo  0.3   -1 -1 -1 TkElectron  100   0  150   30 -2.5  2.5 200   0  5  100   0  10 EG
TkElectron  TkElectronIso  Electron -1 2.4   0.15  BarrelNoneEndcapTwo  0.3   -1 -1 -1 TkElectronIso  100   0  150   30  -2.5  2.5   200   0  5  100   0  10 EG
TkElectron  TkIsoElectron  Electron -1 2.4   0.15  BarrelNoneEndcapTwo  0.3   -1 0.12  0.4   TkIsoElectron  100   0  150 30 -2.5  2.5   200   0  5  100   0  10 EG
TkElectron  TkElectronLDR  Electron -1 2.4   -1 BarrelNoneEndcapTwo  1  -1 -1 -1 TkElectronLDR  100   0  150   30 -2.5 2.5   200   0  5  100   0  10 EG
# TkPhoton + Loose track ID + tracker isolation                                                                      
TkPhotonTrackID   TkPhotonTrackID   Photon   -1 2.4   -1 UseFlag  0.3   -1 -1 -1 TkPhotonTrackID   100   0  150   30 -2.5   2.5   200   0  5  100   0  10 EG
TkPhotonTrackID   TkPhotonTrackIDIso   Photon   -1 2.4   0.15  UseFlag  0.3   -1 -1 -1 TkPhotonTrackIDIso   100   0  150 30 -2.5  2.5   200   0  5  100   0  10 EG
TkPhotonTrackID   TkIsoPhotonTrackID   Photon   -1 2.4   0.15  UseFlag  0.3   -1 0.12  0.4   TkIsoPhotonTrackID   100 0  150   30 -2.5  2.5   200   0  5  100   0  10 EG
TkPhotonTrackID   TkPhotonTrackIDLDR   Photon   -1 2.4   -1 UseFlag  1  -1 -1 -1 TkPhotonTrackIDLDR   100   0  150   30  -2.5  2.5   200   0  5  100   0  10 EG
# TkPhoton + Loose track ID + tracker isolation (PV)                                                                     
TkPhotonPVTrackID TkPhotonPVTrackID Photon   -1 2.4   -1 UseFlag  0.3   -1 -1 -1 TkPhotonPVTrackID 100   0  150   30 -2.5   2.5   200   0  5  100   0  10 EG
TkPhotonPVTrackID TkPhotonPVTrackIDIso Photon   -1 2.4   0.15  UseFlag  0.3   -1 -1 -1 TkPhotonPVTrackIDIso 100   0  150 30 -2.5  2.5   200   0  5  100   0  10 EG
TkPhotonPVTrackID TkIsoPhotonPVTrackID Photon   -1 2.4   0.15  UseFlag  0.3   -1 0.12  0.4   TkIsoPhotonPVTrackID 100 0  150   30 -2.5  2.5   200   0  5  100   0  10 EG
TkPhotonPVTrackID TkPhotonPVTrackIDLDR Photon   -1 2.4   -1 UseFlag  1  -1 -1 -1 TkPhotonPVTrackIDLDR 100   0  150   30  -2.5  2.5   200   0  5  100   0  10 EG
# TkIsoElectronPV: later                                                                        
# PuppiJets                                                                      
PuppiJet PuppiJet GenJet   -1 2.4   -1 None  0.3   -1 -1 -1 PuppiJet 200   0  1000  50 -3 3  200   0  5  100   0  10 Jet
PuppiJet PuppiJetLDR GenJet   -1 2.4   -1 None  1.5   -1 -1 -1 PuppiJetLDR 200   0  1000  50 -3 3  200   0  5  100   0   10 Jet
# PuppiJetsForMET                                                                      
PuppiJetForMET PuppiJetForMET GenJet   -1 2.4   -1 None  0.3   -1 -1 -1 PuppiJetForMET 200   0  1000  50 -3 3  200   0   5  100   0  10 Jet
PuppiJetForMET PuppiJetForMETLDR GenJet   -1 2.4   -1 None  1.5   -1 -1 -1 PuppiJetForMETLDR 200   0  1000  50 -3 3  200 0  5  100   0  10 Jet
# PuppiHT                                                                        
PuppiHT0 PuppiHT15   HT15  -1 -1 -1 None  -1 -1 -1 -1 PuppiHT15   200   0  1000  50 -3 3  200   0  5  100   0  10 HT
PuppiHT1 PuppiHT20   HT20  -1 -1 -1 None  -1 -1 -1 -1 PuppiHT20   200   0  1000  50 -3 3  200   0  5  100   0  10 HT
PuppiHT2 PuppiHT30   HT30  -1 -1 -1 None  -1 -1 -1 -1 PuppiHT30   200   0  1000  50 -3 3  200   0  5  100   0  10 HT
# PuppiMET                                                                       
PuppiMET PuppiMET MET   -1 -1 -1 None  -1 -1 -1 -1 PuppiMET 200   0  1000  50 -3 3  200   0  5  100   0  10 HT
# PFTau, no isolation requirement; and PFIsoTau with medium working point                                                                       
PFTau PFTau Tau   -1 2.4   -1 None  0.3   -1 -1 -1 PFTau 100   0  150   30 -2.5  2.5   200   0  5  100   0  10 Tau
PFTau PFTauIso Tau   -1 2.4   0.15  None  0.3   -1 -1 -1 PFTauIso 100   0  150   30 -2.5  2.5   200   0  5  100   0  10  Tau
PFTau PFIsoTau Tau   -1 2.4   0.15  UseFlag  0.3   -1 -1 -1 PFIsoTau 100   0  150   30 -2.5  2.5   200   0  5  100   0   10 Tau
PFTau PFTauLDR Tau   -1 2.4   -1 None  1  -1 -1 -1 PFTauLDR 100   0  150   30 -2.5  2.5   200   0  5  100   0  10 Tau
# CaloJets                                                                       
CaloJet  CaloJet  GenJet   -1 2.4   -1 None  0.3   -1 -1 -1 CaloJet  200   0  1000  50 -3 3  200   0  5  100   0  10 Jet
CaloJet  CaloJetLDR  GenJet   -1 2.4   -1 None  1.5   -1 -1 -1 CaloJetLDR  200   0  1000  50 -3 3  200   0  5  100   0   10 Jet
# CaloHT: missing                                                                      
# TrackerJet: missing                                                                        
# TrackerHT: missing                                                                      
# TrackerMET: missing                                                                        
