Input Object   Directory   Reference   |Eta| Min   |Eta| Max   Reference Iso  Quality  DR Cut   Type / Region  IsolationBB  IsolationEC Histogram   Binning for PT       Binning for eta         Binning for iso         Thresholds
Jet   Jet   GenJet   -1 4.7   -1 None  0.3   -1 -1 -1 Jet   200   0  1000  50 -3 3  200   0  5  Jet
Jet   JetLDR   GenJet   -1 4.7   -1 None  1.5   -1 -1 -1 JetLDR   200   0  1000  50 -3 3  200   0  5  Jet
TrackerJet  TrackerJet  GenJet   -1 2.4   -1 None  0.3   -1 -1 -1 TrackerJet  200   0  1000  50 -2.2  2.2   200   0  5   Jet
TrackerJet  TrackerJetCharged ChargedGenJet  -1 2.4   -1 None  0.3   -1 -1 -1 TrackerJetCharged 200   0  1000  50 -2.2 2.2   200   0  5  Jet
TrackerJet  TrackerJetLDR  GenJet   -1 2.4   -1 None  1.5   -1 -1 -1 TrackerJetLDR  200   0  1000  50 -2.2  2.2   200 0  5  Jet
TkCaloJet   TkCaloJet   GenJet   -1 1.5   -1 None  0.3   -1 -1 -1 TkCaloJet   500   0  500   50 -3 3  200   0  5  Jet
TkCaloJet   TkCaloJetLDR   GenJet   -1 1.5   -1 None  1.5   -1 -1 -1 TkCaloJetLDR   500   0  500   50 -3 3  200   0  5   Jet
PuppiJet PuppiJetWide   GenJet   -1 4.7   -1 None  0.3   -1 -1 -1 PuppiJetWide   200   0  1000  50 -3 3  200   0  5  Jet
PuppiJet PuppiJet GenJet   -1 2.4   -1 None  0.3   -1 -1 -1 PuppiJet 200   0  1000  50 -3 3  200   0  5  Jet
PuppiJet PuppiJetLDR GenJet   -1 2.4   -1 None  1.5   -1 -1 -1 PuppiJetLDR 200   0  1000  50 -3 3  200   0  5  Jet
TkMuon   TkMuon   Muon  -1 2.4   -1 Twelve   0.1   -1 -1 -1 TkMuon   100   0  150   30 -2.5  2.5   200   0  5  Muon
TkMuon   TkMuonNoCutIso Muon  -1 2.4   0.15  None  0.1   -1 -1 -1 TkMuonNoCutIso 100   0  150   30 -2.5  2.5   200   0   5  Muon
TkMuon   TkMuonBarrel   Muon  -1 0.8   -1 Twelve   0.1   -1 -1 -1 TkMuonBarrel   100   0  150   30 -2.5  2.5   200   0   5  Muon
TkMuon   TkMuonE  Muon  -1 2.4   -1 Twelve   0.1   3  -1 -1 TkMuonE  100   0  150   30 -2.5  2.5   200   0  5  Muon
TkMuon   TkMuonB  Muon  -1 2.4   -1 Twelve   0.1   1  -1 -1 TkMuonB  100   0  150   30 -2.5  2.5   200   0  5  Muon
TkMuon   TkMuonO  Muon  -1 2.4   -1 Twelve   0.1   2  -1 -1 TkMuonO  100   0  150   30 -2.5  2.5   200   0  5  Muon
TkMuon   TkMuonIso   Muon  -1 2.4   0.15  Twelve   0.1   -1 -1 -1 TkMuonIso   100   0  150   30 -2.5  2.5   200   0  5   Muon
TkMuon   TkMuonBarrelIso   Muon  -1 0.8   0.15  Twelve   0.1   -1 -1 -1 TkMuonBarrelIso   100   0  150   30 -2.5  2.5   200   0  5  Muon
TkMuon   TkMuonEIso  Muon  -1 2.4   0.15  Twelve   0.1   3  -1 -1 TkMuonEIso  100   0  150   30 -2.5  2.5   200   0  5   Muon
TkMuon   TkMuonBIso  Muon  -1 2.4   0.15  Twelve   0.1   1  -1 -1 TkMuonBIso  100   0  150   30 -2.5  2.5   200   0  5   Muon
TkMuon   TkMuonOIso  Muon  -1 2.4   0.15  Twelve   0.1   2  -1 -1 TkMuonOIso  100   0  150   30 -2.5  2.5   200   0  5   Muon
TkMuon   TkMuonLDR   Muon  -1 2.4   -1 Twelve   1  -1 -1 -1 TkMuonLDR   100   0  150   30 -2.5  2.5   200   0  5  Muon
TkMuon   TkMuonELDR  Muon  -1 2.4   -1 Twelve   1  3  -1 -1 TkMuonELDR  100   0  150   30 -2.5  2.5   200   0  5  Muon
TkMuon   TkMuonBLDR  Muon  -1 2.4   -1 Twelve   1  1  -1 -1 TkMuonBLDR  100   0  150   30 -2.5  2.5   200   0  5  Muon
TkMuon   TkMuonOLDR  Muon  -1 2.4   -1 Twelve   1  2  -1 -1 TkMuonOLDR  100   0  150   30 -2.5  2.5   200   0  5  Muon
TkMuonStub  TkMuonStub  Muon  -1 1.1   -1 None  0.1   -1 -1 -1 TkMuonStub  100   0  150   30 -2.5  2.5   200   0  5  Muon
TkMuonStub  TkMuonStubBarrelIso  Muon  -1 0.8   0.15  None  0.1   -1 -1 -1 TkMuonStubBarrelIso  100   0  150   30 -2.5 2.5   200   0  5  Muon
TkMuonStub  TkMuonStubIso  Muon  -1 1.1   0.15  None  0.1   -1 -1 -1 TkMuonStubIso  100   0  150   30 -2.5  2.5   200 0  5  Muon
TkMuonStub  TkMuonStubLDR  Muon  -1 1.1   -1 None  1  -1 -1 -1 TkMuonStubLDR  100   0  150   30 -2.5  2.5   200   0  5   Muon
TkGlbMuon   TkGlbMuon   Muon  -1 2.4   -1 None  0.1   -1 -1 -1 TkGlbMuon   100   0  150   30 -2.5  2.5   200   0  5  Muon
TkGlbMuon   TkGlbMuonIso   Muon  -1 2.4   0.15  None  0.1   -1 -1 -1 TkGlbMuonIso   100   0  150   30 -2.5  2.5   200 0  5  Muon
TkGlbMuon   TkGlbMuonLDR   Muon  -1 2.4   -1 None  1  -1 -1 -1 TkGlbMuonLDR   100   0  150   30 -2.5  2.5   200   0  5   Muon
GlobalMuon  GlobalMuon  Muon  -1 2.4   -1 None  0.3   -1 -1 -1 GlobalMuon  100   0  150   30 -2.5  2.5   200   0  5  Muon
GlobalMuon  GlobalMuonIso  Muon  -1 2.4   0.15  None  0.3   -1 -1 -1 GlobalMuonIso  100   0  150   30 -2.5  2.5   200 0  5  Muon
GlobalMuon  GlobalMuonLDR  Muon  -1 2.4   -1 None  1  -1 -1 -1 GlobalMuonLDR  100   0  150   30 -2.5  2.5   200   0  5   Muon
StandaloneMuon StandaloneMuon Muon  -1 2.4   -1 None  0.3   -1 -1 -1 StandaloneMuon 100   0  150   30 -2.5  2.5   200 0  5  Muon
StandaloneMuon StandaloneMuonIso Muon  -1 2.4   0.15  None  0.3   -1 -1 -1 StandaloneMuonIso 100   0  150   30 -2.5  2.5 200   0  5  Muon
StandaloneMuon StandaloneMuonLDR Muon  -1 2.4   -1 None  1  -1 -1 -1 StandaloneMuonLDR 100   0  150   30 -2.5  2.5   200   0  5  Muon
PFMuon   PFMuon   Muon  -1 2.4   -1 None  0.1   -1 -1 -1 PFMuon   100   0  150   30 -2.5  2.5   200   0  5  Muon
PFMuon   PFMuonIso   Muon  -1 2.4   0.15  None  0.1   -1 -1 -1 PFMuonIso   100   0  150   30 -2.5  2.5   200   0  5  Muon
PFMuon   PFMuonLDR   Muon  -1 2.4   -1 None  1  -1 -1 -1 PFMuonLDR   100   0  150   30 -2.5  2.5   200   0  5  Muon
Tau   Tau   Tau   -1 1.5   -1 None  0.2   -1 -1 -1 Tau   100   0  150   30 -2.5  2.5   200   0  5  Tau
Tau   TauLDR   Tau   -1 1.5   -1 None  1  -1 -1 -1 TauLDR   100   0  150   30 -2.5  2.5   200   0  5  Tau
TkTau TkTau Tau   -1 1.5   -1 None  0.15  -1 -1 -1 TkTau 100   0  150   30 -2.5  2.5   200   0  5  Tau
TkTau TkTauLDR Tau   -1 1.5   -1 None  1  -1 -1 -1 TkTauLDR 100   0  150   30 -2.5  2.5   200   0  5  Tau
PFTau PFTau Tau   -1 2.1   -1 None  0.3   -1 -1 -1 PFTau 100   0  150   30 -2.5  2.5   200   0  5  Tau
PFTau PFTauLDR Tau   -1 2.1   -1 None  1  -1 -1 -1 PFTauLDR 100   0  150   30 -2.5  2.5   200   0  5  Tau
PFTau PFIsoTau Tau   -1 2.1   -1 None  0.3   -1 -1 -1 PFIsoTau 100   0  150   30 -2.5  2.5   200   0  5  Tau
PFTau PFIsoTauLDR Tau   -1 2.1   -1 None  1  -1 -1 -1 PFIsoTauLDR 100   0  150   30 -2.5  2.5   200   0  5  Tau
EG EGElectron  Electron -1 2.4   -1 UseFlag  0.2   -1 -1 -1 EGElectron  100   0  150   30 -3.5  3.5   200   0  1  EG
EG EGElectronLDR  Electron -1 2.4   -1 UseFlag  1  -1 -1 -1 EGElectronLDR  100   0  150   30 -3.5  3.5   200   0  1  EG
EG EGPhoton Photon   -1 2.4   -1 UseFlag  0.2   -1 -1 -1 EGPhoton 100   0  150   30 -3.5  3.5   200   0  1  EG
EG EGPhotonLDR Photon   -1 2.4   -1 UseFlag  1  -1 -1 -1 EGPhotonLDR 100   0  150   30 -3.5  3.5   200   0  1  EG
TkElectron  TkElectron  Electron -1 2.4   -1 UseFlag  0.2   -1 -1 -1 TkElectron  100   0  150   30 -3.5  3.5   200   0   1  EG
TkElectron  TkElectronIso  Electron -1 2.4   0.15  UseFlag  0.2   -1 -1 -1 TkElectronIso  100   0  150   30 -3.5  3.5   200   0  1  EG
TkElectron  TkIsoElectron  Electron -1 2.4   0.15  UseFlag  0.2   -1 0.11  0.4   TkIsoElectron  100   0  150   30 -3.5 3.5   200   0  1  EG
TkElectron  TkElectronLDR  Electron -1 2.4   -1 UseFlag  1  -1 -1 -1 TkElectronLDR  100   0  150   30 -3.5  3.5   200 0  1  EG
TkElectronLoose   TkElectronLoose   Electron -1 2.4   -1 UseFlag  0.2   -1 -1 -1 TkElectronLoose   100   0  150   30 -3.5   3.5   200   0  1  EG
TkElectronLoose   TkElectronLooseIso   Electron -1 2.4   0.15  UseFlag  0.2   -1 -1 -1 TkElectronLooseIso   100   0  150 30 -3.5  3.5   200   0  1  EG
TkElectronLoose   TkIsoElectronLoose   Electron -1 2.4   0.15  UseFlag  0.2   -1 0.11  0.4   TkIsoElectronLoose   100 0  150   30 -3.5  3.5   200   0  1  EG
TkElectronLoose   TkElectronLooseLDR   Electron -1 2.4   -1 UseFlag  1  -1 -1 -1 TkElectronLooseLDR   100   0  150   30  -3.5  3.5   200   0  1  EG
TkPhoton TkPhoton Photon   -1 2.4   -1 UseFlag  0.2   -1 -1 -1 TkPhoton 100   0  150   30 -3.5  3.5   200   0  1  EG
TkPhoton TkPhotonIso Photon   -1 2.4   0.15  UseFlag  0.2   -1 -1 -1 TkPhotonIso 100   0  150   30 -3.5  3.5   200   0   1  EG
TkPhoton TkIsoPhoton Photon   -1 2.4   0.15  UseFlag  0.2   -1 -1 -1 TkIsoPhoton 100   0  150   30 -3.5  3.5   200   0   1  EG
TkPhoton TkPhotonLDR Photon   -1 2.4   -1 UseFlag  1  -1 -1 -1 TkPhotonLDR 100   0  150   30 -3.5  3.5   200   0  1  EG
