TkElectronTrackID TkElectronTrackID Electron -1 2.4   -1 -1 UseFlag  0.15  -1 -1 -1 TkElectronTrackID 100   0  150   30  -2.5  2.5   200   0  1  100   0  10 EG                   
TkElectronTrackID TkElectronTrackIDIso Electron -1 2.4   -1 0.15  UseFlag  0.15  -1 -1 -1 TkElectronTrackIDIso 100   0   150   30 -2.5  2.5   200   0  1  100   0  10 EG                   
TkElectronTrackID TkElectronTrackIDExtendedIso  Electron 2.4   2.8   -1 0.15  UseFlag  0.15  -1 -1 -1 TkElectronTrackIDExtendedIso   100   0  150   30 -2.5  2.5   200   0  1  100   0  10 EG                   
TkElectronTrackID TkElectronTrackIDLDR Electron -1 2.4   -1 -1 UseFlag  1  -1 -1 -1 TkElectronTrackIDLDR 100   0  150 30 -2.5  2.5   200   0  1  100   0  10 EG                   
TkElectronTrackID TkElectronTrackIDZ   ZElectron   -1 2.4   -1 -1 UseFlag  0.15  -1 -1 -1 TkElectronTrackIDZ   100   0   150   30 -2.5  2.5   200   0  1  100   0  10 EG                   
TkElectronTrackID TkElectronTrackIDIsoZ   ZElectron   -1 2.4   -1 0.15  UseFlag  0.15  -1 -1 -1 TkElectronTrackIDIsoZ 100   0  150   30 -2.5  2.5   200   0  1  100   0  10 EG                   
TkElectronTrackID TkElectronTrackIDZLDR   ZElectron   -1 2.4   -1 -1 UseFlag  1  -1 -1 -1 TkElectronTrackIDZLDR   100 0  150   30 -2.5  2.5   200   0  1  100   0  10 EG                   
TkElectronV2TrackID  TkElectronV2TrackID  Electron -1 2.4   -1 -1 UseFlag  0.15  -1 -1 -1 TkElectronV2TrackID  100   0   150   30 -2.5  2.5   200   0  1  100   0  10 EG                   
TkElectronV2TrackID  TkElectronV2TrackIDIso  Electron -1 2.4   -1 0.15  UseFlag  0.15  -1 -1 -1 TkElectronV2TrackIDIso   100   0  150   30 -2.5  2.5   200   0  1  100   0  10 EG                   
TkElectronV2TrackID  TkElectronV2TrackIDExtendedIso   Electron 2.4   2.8   -1 0.15  UseFlag  0.15  -1 -1 -1 TkElectronV2TrackIDExtendedIso 100   0  150   30 -2.5  2.5   200   0  1  100   0  10 EG                   
TkElectronV2TrackID  TkElectronV2TrackIDLDR  Electron -1 2.4   -1 -1 UseFlag  1  -1 -1 -1 TkElectronV2TrackIDLDR  100 0  150   30 -2.5  2.5   200   0  1  100   0  10 EG                   
TkElectronV2TrackID  TkElectronV2TrackIDZ ZElectron   -1 2.4   -1 -1 UseFlag  0.15  -1 -1 -1 TkElectronV2TrackIDZ 100 0  150   30 -2.5  2.5   200   0  1  100   0  10 EG                   
TkElectronV2TrackID  TkElectronV2TrackIDIsoZ ZElectron   -1 2.4   -1 0.15  UseFlag  0.15  -1 -1 -1 TkElectronV2TrackIDIsoZ  100   0  150   30 -2.5  2.5   200   0  1  100   0  10 EG                   
TkElectronV2TrackID  TkElectronV2TrackIDZLDR ZElectron   -1 2.4   -1 -1 UseFlag  1  -1 -1 -1 TkElectronV2TrackIDZLDR 100 0  150   30 -2.5  2.5   200   0  1  100   0  10 EG                   
