Input Object   Directory   Reference   |Eta| Min   |Eta| Max   L1 PT Min   Reference Iso  Quality  DR Cut   Type / Region IsolationBB IsolationEC Histogram   Binning for PT       Binning for eta         Binning for iso         Binning for dxy        Thresholds
# Gen objects                                                                          
Gen   GenElectron Electron -1 2.4   -1 -1 None  -1 -1 -1 -1 GenElectron 100   0  150   30 -2.5  2.5   200   0  5  100 0  10 Gen
Gen   GenMuon  Muon  -1 2.4   -1 -1 None  -1 -1 -1 -1 GenMuon  100   0  150   30 -2.5  2.5   200   0  5  100   0  10 Gen
Gen   GenPhoton   Photon   -1 2.4   -1 -1 None  -1 -1 -1 -1 GenPhoton   100   0  150   30 -2.5  2.5   200   0  5  100 0  10 Gen
Gen   GenJet   GenJet   -1 2.4   -1 -1 None  -1 -1 -1 -1 GenJet   200   0  600   50 -3 3  200   0  5  100   0  10 Gen
Gen   GenTau   Tau   -1 2.4   -1 -1 None  -1 -1 -1 -1 GenTau   100   0  150   30 -2.5  2.5   200   0  5  100   0  10 Gen
# PFTau, no isolation requirement; and PFIsoTau with medium working point                                                                          
PFTau PFTau Tau   -1 2.4   -1 -1 None  0.3   -1 -1 -1 PFTau 100   0  150   30 -2.5  2.5   200   0  5  100   0  10 Tau
PFTau PFTauIso Tau   -1 2.4   -1 0.15  None  0.3   -1 -1 -1 PFTauIso 100   0  150   30 -2.5  2.5   200   0  5  100   0   10 Tau
PFTau PFIsoTau Tau   -1 2.4   -1 0.15  UseFlag  0.3   -1 -1 -1 PFIsoTau 100   0  150   30 -2.5  2.5   200   0  5  100 0  10 Tau
PFTau PFTauLDR Tau   -1 2.4   -1 -1 None  1  -1 -1 -1 PFTauLDR 100   0  150   30 -2.5  2.5   200   0  5  100   0  10 Tau
# CaloTau                                                                           
CaloTau  CaloTau  Tau   -1 2.4   -1 -1 None  0.3   -1 -1 -1 CaloTau  100   0  150   30 -2.5  2.5   200   0  5  100   0   10 Tau
CaloTau  CaloTauIso  Tau   -1 2.4   -1 0.15  None  0.3   -1 -1 -1 CaloTauIso  100   0  150   30 -2.5  2.5   200   0  5   100   0  10 Tau
CaloTau  CaloTauLDR  Tau   -1 2.4   -1 -1 None  1  -1 -1 -1 CaloTauLDR  100   0  150   30 -2.5  2.5   200   0  5  100 0  10 Tau
# TkTau                                                                          
TkTau TkTau Tau   -1 2.5   -1 -1 None  0.15  -1 -1 -1 TkTau 100   0  150   30 -2.5  2.5   200   0  5  100   0  10 Tau
TkTau TkTauIso Tau   -1 2.5   -1 0.15  None  0.15  -1 -1 -1 TkTauIso 100   0  150   30 -2.5  2.5   200   0  5  100   0   10 Tau
TkTau TkTauLDR Tau   -1 2.5   -1 -1 None  1  -1 -1 -1 TkTauLDR 100   0  150   30 -2.5  2.5   200   0  5  100   0  10 Tau
# CaloTkTau                                                                         
CaloTkTau   CaloTkTau   Tau   -1 1.5   -1 -1 None  0.2   -1 -1 -1 CaloTkTau   100   0  150   30 -1.5  1.5   200   0  5   100   0  10 Tau
CaloTkTau   CaloTkTauIso   Tau   -1 1.5   -1 0.15  None  0.2   -1 -1 -1 CaloTkTauIso   100   0  150   30 -1.5  1.5   200   0  5  100   0  10 Tau
CaloTkTau   CaloTkTauLDR   Tau   -1 1.5   -1 -1 None  1  -1 -1 -1 CaloTkTauLDR   100   0  150   30 -1.5  1.5   200   0   5  100   0  10 Tau
# TkEGTau                                                                           
TkEGTau  TkEGTau  Tau   -1 1.5   -1 -1 None  0.15  -1 -1 -1 TkEGTau  100   0  150   30 -1.5  1.5   200   0  5  100   0   10 Tau
TkEGTau  TkEGTauIso  Tau   -1 1.5   -1 0.15  None  0.15  -1 -1 -1 TkEGTauIso  100   0  150   30 -1.5  1.5   200   0  5   100   0  10 Tau
TkEGTau  TkEGTauLDR  Tau   -1 1.5   -1 -1 None  1  -1 -1 -1 TkEGTauLDR  100   0  150   30 -1.5  1.5   200   0  5  100 0  10 Tau
# NNTau                                                                          
NNTau NNTau Tau   -1 2.5   -1 -1 UseFlag  0.2   -1 -1 -1 NNTau 100   0  150   30 -2.5  2.5   200   0  5  100   0  10 Tau
NNTau NNTauIso Tau   -1 2.5   -1 0.15  UseFlag  0.2   -1 -1 -1 NNTauIso 100   0  150   30 -2.5  2.5   200   0  5  100 0  10 Tau
NNTau NNTauLDR Tau   -1 2.5   -1 -1 UseFlag  1  -1 -1 -1 NNTauLDR 100   0  150   30 -2.5  2.5   200   0  5  100   0  10  Tau
NNTau NNTauIso1   Tau   -1 2.5   -1 0.15  UseFlag  0.2   1  -1 -1 NNTauIso1   100   0  150   30 -2.5  2.5   200   0  5   100   0  10 Tau
NNTau NNTauIso2   Tau   -1 2.5   -1 0.15  UseFlag  0.2   2  -1 -1 NNTauIso2   100   0  150   30 -2.5  2.5   200   0  5   100   0  10 Tau
NNTau NNTauIso3   Tau   -1 2.5   -1 0.15  UseFlag  0.2   3  -1 -1 NNTauIso3   100   0  150   30 -2.5  2.5   200   0  5   100   0  10 Tau
NNTau NNTauIso4   Tau   -1 2.5   -1 0.15  UseFlag  0.2   4  -1 -1 NNTauIso4   100   0  150   30 -2.5  2.5   200   0  5   100   0  10 Tau
NNTau NNTauIso5   Tau   -1 2.5   -1 0.15  UseFlag  0.2   5  -1 -1 NNTauIso5   100   0  150   30 -2.5  2.5   200   0  5   100   0  10 Tau
NNTau NNTauIso6   Tau   -1 2.5   -1 0.15  UseFlag  0.2   6  -1 -1 NNTauIso6   100   0  150   30 -2.5  2.5   200   0  5   100   0  10 Tau
NNTau NNTauIso7   Tau   -1 2.5   -1 0.15  UseFlag  0.2   7  -1 -1 NNTauIso7   100   0  150   30 -2.5  2.5   200   0  5   100   0  10 Tau
NNTau NNTauIso8   Tau   -1 2.5   -1 0.15  UseFlag  0.2   8  -1 -1 NNTauIso8   100   0  150   30 -2.5  2.5   200   0  5   100   0  10 Tau
NNTau NNTauIso9   Tau   -1 2.5   -1 0.15  UseFlag  0.2   9  -1 -1 NNTauIso9   100   0  150   30 -2.5  2.5   200   0  5   100   0  10 Tau
NNTau NNTauIso10  Tau   -1 2.5   -1 0.15  UseFlag  0.2   10 -1 -1 NNTauIso10  100   0  150   30 -2.5  2.5   200   0  5   100   0  10 Tau
NNTau NNTauIso11  Tau   -1 2.5   -1 0.15  UseFlag  0.2   11 -1 -1 NNTauIso11  100   0  150   30 -2.5  2.5   200   0  5   100   0  10 Tau
NNTau NNTauIso12  Tau   -1 2.5   -1 0.15  UseFlag  0.2   12 -1 -1 NNTauIso12  100   0  150   30 -2.5  2.5   200   0  5   100   0  10 Tau
NNTau NNTauIso13  Tau   -1 2.5   -1 0.15  UseFlag  0.2   13 -1 -1 NNTauIso13  100   0  150   30 -2.5  2.5   200   0  5   100   0  10 Tau
NNTau NNTauIso14  Tau   -1 2.5   -1 0.15  UseFlag  0.2   14 -1 -1 NNTauIso14  100   0  150   30 -2.5  2.5   200   0  5   100   0  10 Tau
NNTau NNTauIso15  Tau   -1 2.5   -1 0.15  UseFlag  0.2   15 -1 -1 NNTauIso15  100   0  150   30 -2.5  2.5   200   0  5   100   0  10 Tau
NNTau NNTauIso16  Tau   -1 2.5   -1 0.15  UseFlag  0.2   16 -1 -1 NNTauIso16  100   0  150   30 -2.5  2.5   200   0  5   100   0  10 Tau
NNTau NNTauIso17  Tau   -1 2.5   -1 0.15  UseFlag  0.2   17 -1 -1 NNTauIso17  100   0  150   30 -2.5  2.5   200   0  5   100   0  10 Tau
NNTau NNTauIso18  Tau   -1 2.5   -1 0.15  UseFlag  0.2   18 -1 -1 NNTauIso18  100   0  150   30 -2.5  2.5   200   0  5   100   0  10 Tau
NNTau NNTauIso19  Tau   -1 2.5   -1 0.15  UseFlag  0.2   19 -1 -1 NNTauIso19  100   0  150   30 -2.5  2.5   200   0  5   100   0  10 Tau
NNTau NNTauIso20  Tau   -1 2.5   -1 0.15  UseFlag  0.2   20 -1 -1 NNTauIso20  100   0  150   30 -2.5  2.5   200   0  5   100   0  10 Tau
NNTauLoose  NNTauLoose  Tau   -1 2.5   -1 -1 UseFlag  0.2   -1 -1 -1 NNTauLoose  100   0  150   30 -2.5  2.5   200   0   5  100   0  10 Tau
NNTauLoose  NNTauLooseIso  Tau   -1 2.5   -1 0.15  UseFlag  0.2   -1 -1 -1 NNTauLooseIso  100   0  150   30 -2.5  2.5   200   0  5  100   0  10 Tau
NNTauLoose  NNTauLooseLDR  Tau   -1 2.5   -1 -1 UseFlag  1  -1 -1 -1 NNTauLooseLDR  100   0  150   30 -2.5  2.5   200 0  5  100   0  10 Tau
NNTau NNTauNoID   Tau   -1 2.5   -1 -1 None  0.2   -1 -1 -1 NNTauNoID   100   0  150   30 -2.5  2.5   200   0  5  100 0  10 Tau
NNTau NNTauNoIDIso   Tau   -1 2.5   -1 0.15  None  0.2   -1 -1 -1 NNTauNoIDIso   100   0  150   30 -2.5  2.5   200   0   5  100   0  10 Tau
NNTau NNTauNoIDLDR   Tau   -1 2.5   -1 -1 None  1  -1 -1 -1 NNTauNoIDLDR   100   0  150   30 -2.5  2.5   200   0  5  100 0  10 Tau
